@model CarpoolingCR.Objects.Responses.TownIndexResponse

@{
    ViewBag.Title = "Index";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<h2>Destinos</h2>
<div id="towns">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-11">
            <small>¿No encontrás un destino? ¡Solicítalo acá! Podrás ver tu destino solicidato una vez el administrador lo haya aprobado.</small><br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
            <input class="search form-control" style="border-radius:25px" placeholder="Búsqueda" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1 col-xs-1">
            @{
                if (Model.UserType == CarpoolingCR.Utils.Enums.UserType.Administrador)
                {
                    <a class="btn btn-primary pull-right" href="/Towns/Create" style="border-radius:25px">Crear</a>
                }
                else
                {
                    <a class="btn btn-primary pull-right" href="/Towns/Create" style="border-radius:25px">Solicitar</a>
                }
            }
        </div>
    </div>
    <br />
    @*<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="sort btn btn-secondary pull-right" style="border-radius:25px" data-sort="country">
                    <small>Por País</small>
                </button>&nbsp;
                <button class="sort btn btn-secondary pull-right" style="border-radius:25px" data-sort="town">
                    <small>Por Localidad</small>
                </button>
            </div>
        </div>*@

    <ul class="list">
        @{
            foreach (var item in Model.Towns)
            {
                <li>
                    @{
                        <h4 class="town">@item.Name</h4>

                        if (Model.UserType == CarpoolingCR.Utils.Enums.UserType.Administrador)
                        {
                            <small class="country">@item.Country.Name</small>
                            <small class="status">@item.Status</small>

                            <div class="pull-right">
                                <a class="btn btn-info" href="/Towns/Edit/@item.TownId" style="border-radius:25px">...</a>
                                <input type="button" class="btn btn-danger" style="border-radius:25px" onclick="ConfirmDelete(@item.TownId, '@item.Name')" value="X" />
                            </div>
                        }

                    }
                </li>
            }
        }
    </ul>
</div>

<div class="modal fade" id="confirmTownDelete" tabindex="-1" role="dialog" aria-labelledby="dayTripModalLabel" aria-hidden="true">
    <form action="/Towns/Delete/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="dayTripModalLabel">Eliminación de Localidades</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="townId" name="townId" class="hidden" />
                        <p id="deleteText">Está seguro que desea eliminar xxxxx?</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script language="javascript">
    var options = {
        valueNames: ['town', 'country', 'status']
    };

    var userList = new List('towns', options);

    function ConfirmDelete(id, name) {
        $('#deleteText').html('¿Está seguro que desea eliminar ' + name + '?')
        $('#townId').val(id);

        $("#confirmTownDelete").modal();
    }
</script>