@model CarpoolingCR.Models.ApplicationUser

@{
    ViewBag.Title = "BankInfo";
}

@using (Html.BeginForm("BankInfo", "Manage", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="message" value="@Model.Message" />
    <input type="hidden" id="messageType" value="@Model.MessageType" />

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Perfíl de Usuario</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4 class="center-block">
                    @{
                        var stars = Model.Stars;

                        switch (stars)
                        {
                            case 1:
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star" data-toggle="Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star" data-toggle="Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                break;
                            case 2:
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star" data-toggle="Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                break;
                            case 3:
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                break;
                            case 4:
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                break;
                            case 5:
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                break;
                            case -1:
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star1" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star2" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star3" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star4" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star5" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                break;
                        }
                    }
                </h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Correo Electrónico</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control center-block", @placeholder = "Correo Electrónico", @readonly = "readonly" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">

            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Nombre</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control center-block", @placeholder = "Nombre" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Primer Apellido</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control center-block", @placeholder = "Primer Apellido" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Segundo Apellido</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.SecondLastName, new { @class = "form-control center-block", @placeholder = "Segundo Apellido" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Teléfono #1</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Phone1, new { @class = "form-control center-block", @placeholder = "Teléfono #1" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Teléfono #2</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Phone2, new { @class = "form-control center-block", @placeholder = "Teléfono #2" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Tipo de Usuario</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.UserType, new { @class = "form-control center-block", @placeholder = "Tipo de Usuario", @disabled = "disabled" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Estado</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Status, new { @class = "form-control center-block", @placeholder = "Estado", @disabled = "disabled" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">¿Correo Confirmado?</label>
                @{
                    if (Model.EmailConfirmed)
                    {
                        <input type="checkbox" class="disabled" onclick="return false;" checked />
                    }
                    else
                    {
                        <input type="checkbox" class="disabled" onclick="return false;" />
                    }
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">

            </div>
            <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                <input type="button" onclick="SaveProfileInfo()" class="btn btn-info" value="Actualizar" />
            </div>
        </div>
    </div>
}