<!DOCTYPE html>
<html>
<head>
    @*&#9734; &#8902; &#9733; html code for star*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buscoridecr.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/fonts/jquery-ui-1.12.1.custom/jquery-ui.min.css">

    <script src="~/fonts/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/fonts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/fonts/datetimepicker-master/jquery.datetimepicker.css" />

    <link href="~/fonts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="~/fonts/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
    <link rel="stylesheet" href="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>

    <link runat="server" rel="shortcut icon" href="~/Content/Icons/ride.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/Content/Icons/ride.ico" type="image/ico" />

    <link rel="manifest" href="~/manifest.txt" crossorigin="anonymous">
    <meta name="theme-color" content="#2196f3" />

    <script type="text/javascript" src="~/Scripts/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>

    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/List.js"></script>
    <script src="~/Scripts/messages.js"></script>
    @*<link rel="stylesheet" href="~/Content/processingmodal.css">*@

    <style type="text/css">
        input[type="text"] {
            border-radius: 25px
        }

        input[type="tel"] {
            border-radius: 25px
        }

        input[type="submit"] {
            border-radius: 25px
        }

        input[type="password"] {
            border-radius: 25px
        }

        input[type="button"] {
            border-radius: 25px
        }

        a.btn {
            border-radius: 25px !important;
        }

        select {
            border-radius: 25px !important;
        }
    </style>

    <style>
        /* Style The Dropdown Button */
        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: black;
        }
    </style>
</head>

<body>
    @*<input type="button" class="btn btn-dark" id="btnAdd" value="Instalar"/>*@
    @{if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" style="background-color:#3399F3" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @{
                            var claims = (System.Security.Claims.ClaimsIdentity)User.Identity;
                            var name = string.Empty;
                            var fullName = claims.FindFirst("Name");

                            if (fullName != null)
                            {
                                name = fullName.Value;
                            }
                        }
                        @Html.ActionLink("Hola " + name + "!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Menú Principal", "ValidateUserRol", "UserRols")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-radius:50px;">
                            <p class="" style="border-radius:50px; color:orangered" id="errorMsgContainer"></p>
                            <p class="" style="border-radius:50px; color:yellow" id="warningMsgContainer"></p>
                            <p class="" style="border-radius:50px; color:lightgreen" id="infoMsgContainer"></p>
                        </div>*@
                </div>
            </div>
        }
        else
        {
            <div class="navbar navbar-inverse navbar-fixed-top" style="border-radius: 0px 0px 15px 15px">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" style="background-color:#3399F3" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Bienvenido!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        }
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-right">&copy; @DateTime.Now.Year - www.buscoridecr.com <img src="~/Content/Icons/ride.ico" style="width:20px; height:20px" /></p>
        </footer>
        <div class="modal fade" id="qualifyUserModal" tabindex="-1" role="dialog" aria-labelledby="qualifyUserModalModalLabel" aria-hidden="true">
            @*<form action="/Reservations/Create" method="post">*@
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" id="q-reservation-id" name="q-reservation-id" class="hidden" />
                            <input type="text" id="q-trip-id" name="q-trip-id" class="hidden" />
                            <input type="text" id="q-stars" name="q-stars" class="hidden" />
                            <input type="text" id="q-url" name="q-url" class="hidden" />
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="dayTripModalLabel">Calificación de Usuarios</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3>
                                        <p id="p-User-Name"></p>

                                        <a href="#" data-toggle="tooltip" onclick="SetStars(1,'q-')" title="Muy Malo"><span id="q-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                        <a href="#" data-toggle="tooltip" onclick="SetStars(2,'q-')" title="Malo"><span id="q-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                        <a href="#" data-toggle="tooltip" onclick="SetStars(3,'q-')" title="Bueno"><span id="q-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                        <a href="#" data-toggle="tooltip" onclick="SetStars(4,'q-')" title="Muy Bueno"><span id="q-star4" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                        <a href="#" data-toggle="tooltip" onclick="SetStars(5,'q-')" title="Excelente"><span id="q-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" id="q-comment" name="q-comment" style="height:200px; min-width:100%" placeholder="Deja un comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="btnsContainer" class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar" />
                            <input type="button" class="btn btn-info" onclick="QualifyUser()" value="Calificar" />
                        </div>
                    </div>
                </div>
            </div>
            @*</form>*@
        </div>
    </div>
    @*<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                    <div clas="loader-txt">
                        <p>Check out this slick bootstrap spinner modal. <br><br><small>We are addicted to Bootstrap... #love</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/Growl/jquery.bootstrap-growl.js"></script>

    <script>
        function PopUpQualifyModal(reservationId, tripId, userName, url) {
            $('#q-reservation-id').val(reservationId);
            $('#q-trip-id').val(tripId);
            $('#p-User-Name').html(userName);
            $('#q-url').val(url);

            $('#qualifyUserModal').modal();
        }

        function QualifyUser() {
            var reservationId = $('#q-reservation-id').val();
            var tripId = $('#q-trip-id').val();
            var stars = $('#q-stars').val();
            var comment = $('#q-comment').val();
            var url = $('#q-url').val();

            if (tripId == '') {
                tripId = null;
            }

            $.post('/Qualifications/QualifyUser', { reservationId: reservationId, tripId: tripId, stars: stars, comment: comment},
                function (data) {
                    $('#qualifyUserModal').modal('toggle');

                    sleep(400);

                    window.location.href = url;
                });
        }

        function SetStars(stars, prefix) {
            console.log("Setting stars...");

            $('#' + prefix + 'star1').removeClass('checked');
            $('#' + prefix + 'star2').removeClass('checked');
            $('#' + prefix + 'star3').removeClass('checked');
            $('#' + prefix + 'star4').removeClass('checked');
            $('#' + prefix + 'star5').removeClass('checked');

            $('#q-stars').val(stars);

            for (var i = 1; i <= stars; i++) {
                $('#' + prefix + 'star' + i).addClass('checked');
            }
        }

        $(document).ready(function () {
            checkMessages();

            //default
            $('#q-stars').val(3);
        });

        function checkMessages() {
            var error = '@ViewBag.Error';
            var warning = '@ViewBag.Warning';
            var info = '@ViewBag.Info';

            if (error != '') {
                DisplayGrowlMessage(error, 'error');
            }

            if (warning != '') {
                DisplayGrowlMessage(warning, 'warn');
            }

            if (info != '') {
                DisplayGrowlMessage(info, 'success');
            }
        }

        function displayMessages(message, type) {
            if (type == 'error') {
                DisplayGrowlMessage(message, 'error');
            }

            if (type == 'warning') {
                DisplayGrowlMessage(message, 'warn');
            }

            if (type == 'info') {
                DisplayGrowlMessage(message, 'success');
            }
        }

        function ScrollUp() {
            $('html, body').animate({
                scrollTop: 0
            }, 1000);
        }

        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds) {
                    break;
                }
            }
        }

        function DisplayGrowlMessage(message, type) {

            //if (message != '' && message != null) {
            //    $.bootstrapGrowl(message, // Messages
            //        { // options
            //            type: type, // info, success, warning and danger
            //            ele: "body", // parent container
            //            offset: {
            //                from: "top",
            //                amount: 54
            //            },
            //            align: "right", // right, left or center
            //            width: 385,
            //            delay: 4000,
            //            allow_dismiss: true, // add a close button to the message
            //            stackup_spacing: 10
            //        });
            //}

            var codingmessage = GetMessage(message);

            if (codingmessage === "") {
                $.notify(message, type);
            } else {
                $.notify(codingmessage, type);
            }
        }
    </script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/serviceworker.js')
                .then(function () { console.log('Service Worker Registered'); });
        }

        let deferredPrompt;

        window.addEventListener('beforeinstallprompt', (e) => {
            e.userChoice.then(function (result) {
                if (result.outcome == 'dismissed') {
                    alert('They dismissed, send to analytics')
                } else {
                    alert('User accepted! Send to analytics')
                }
            });

            //// Prevent Chrome 67 and earlier from automatically showing the prompt
            //e.preventDefault();
            //// Stash the event so it can be triggered later.
            //deferredPrompt = e;

            //// Update UI notify the user they can add to home screen
            //btnAdd.style.display = 'block';
        });
        window.addEventListener('appinstalled', (evt) => {
            console.log('a2hs installed');
        });

                                        //btnAdd.addEventListener('click', (e) => {

                                        //    // hide our user interface that shows our A2HS button
                                        //    btnAdd.style.display = 'none';
                                        //    // Show the prompt
                                        //    deferredPrompt.prompt();
                                        //    // Wait for the user to respond to the prompt
                                        //    deferredPrompt.userChoice
                                        //        .then((choiceResult) => {
                                        //            if (choiceResult.outcome === 'accepted') {
                                        //                console.log('User accepted the A2HS prompt');
                                        //            } else {
                                        //                console.log('User dismissed the A2HS prompt');
                                        //            }
                                        //            deferredPrompt = null;
                                        //        });
                                        //});
    </script>
</body>
</html>
