<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buscoridecr.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/fonts/jquery-ui-1.12.1.custom/jquery-ui.min.css">

    <script src="~/fonts/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/fonts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/fonts/datetimepicker-master/jquery.datetimepicker.css" />

    <link href="~/fonts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="~/fonts/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
    <link rel="stylesheet" href="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/List.js"></script>
    @*<link rel="stylesheet" href="~/Content/processingmodal.css">*@

    <style type="text/css">
        input[type="text"] {
            border-radius: 25px
        }

        input[type="submit"] {
            border-radius: 25px
        }

        input[type="password"] {
            border-radius: 25px
        }

        input[type="button"] {
            border-radius: 25px
        }

        a.btn {
            border-radius: 25px !important;
        }

        select {
            border-radius: 25px !important;
        }
    </style>


    <style>
        /* Style The Dropdown Button */
        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: black;
        }
    </style>
</head>
<body>
    @{if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Hola " + User.Identity.Name + "!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Menú Principal", "ValidateUserRol", "UserRols")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-radius:50px;">
                            <p class="" style="border-radius:50px; color:orangered" id="errorMsgContainer"></p>
                            <p class="" style="border-radius:50px; color:yellow" id="warningMsgContainer"></p>
                            <p class="" style="border-radius:50px; color:lightgreen" id="infoMsgContainer"></p>
                        </div>*@
                </div>
            </div>
        }
        else
        {
            <div class="navbar navbar-inverse navbar-fixed-top" style="border-radius: 0px 0px 15px 15px">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Bienvenido!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        }
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><img src="~/Content/Icons/Car.png" style="width:50px; height:15px" /> &copy; @DateTime.Now.Year - www.buscoridecr.com</p>
        </footer>
    </div>
    <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                    <div clas="loader-txt">
                        <p>Check out this slick bootstrap spinner modal. <br><br><small>We are addicted to Bootstrap... #love</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/Growl/jquery.bootstrap-growl.js"></script>

    <script>
        $(document).ready(function () {
            checkMessages();
        });

        function checkMessages() {
            var error = '@ViewBag.Error';
            var warning = '@ViewBag.Warning';
            var info = '@ViewBag.Info';

            if (error != '') {
                DisplayGrowlMessage(error, 'error');
            }

            if (warning != '') {
                DisplayGrowlMessage(warning, 'warn');
            }

            if (info != '') {
                DisplayGrowlMessage(info, 'success');
            }
        }

        function displayMessages(message, type) {
            if (type == 'error') {
                DisplayGrowlMessage(message, 'error');
            }

            if (type == 'warning') {
                DisplayGrowlMessage(message, 'warn');
            }

            if (type == 'info') {
                DisplayGrowlMessage(message, 'success');
            }
        }

        function ScrollUp() {
            $('html, body').animate({
                scrollTop: 0
            }, 1000);
        }

        function DisplayGrowlMessage(message, type) {

            //if (message != '' && message != null) {
            //    $.bootstrapGrowl(message, // Messages
            //        { // options
            //            type: type, // info, success, warning and danger
            //            ele: "body", // parent container
            //            offset: {
            //                from: "top",
            //                amount: 54
            //            },
            //            align: "right", // right, left or center
            //            width: 385,
            //            delay: 4000,
            //            allow_dismiss: true, // add a close button to the message
            //            stackup_spacing: 10
            //        });
            //}
            $.notify(message, type);
        }
    </script>
</body>
</html>
