<!DOCTYPE html>
<html>
<head>
    @*&#9734; &#8902; &#9733; html code for star*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buscoridecr.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/fonts/jquery-ui-1.12.1.custom/jquery-ui.min.css">

    <script src="~/fonts/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/fonts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/fonts/datetimepicker-master/jquery.datetimepicker.css" />

    <link href="~/fonts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="~/fonts/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
    <link rel="stylesheet" href="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>

    <link runat="server" rel="shortcut icon" href="~/Content/Icons/ride.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/Content/Icons/ride.ico" type="image/ico" />

    <link rel="manifest" href="~/manifest.txt" crossorigin="anonymous">
    <meta name="theme-color" content="#2196f3" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/fonts/fullcalendar-3.10.0/fullcalendar.min.css" rel="stylesheet" />
    <script src="~/fonts/fullcalendar-3.10.0/moment.min.js"></script>
    <script src="~/fonts/fullcalendar-3.10.0/fullcalendar.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>
    <script src="~/Scripts/List.js"></script>
    @*
        <script src="~/Scripts/messages.js"></script>*@
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/WaitingDialog.js"></script>
    @*
        <link rel="stylesheet" href="~/Content/processingmodal.css">*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/2e609cde0b.js" crossorigin="anonymous"></script>

    <style type="text/css">
        .seat {
            display: flex;
            padding: 5px;
            position: relative;
            height: 80px;
            width: 60px;
        }

            .seat:nth-child(3) {
                /*margin-right: 14.28571428571429%;*/
            }

            .seat input[type=checkbox] {
                position: absolute;
                opacity: 0;
            }

                .seat input[type=checkbox]:checked + label {
                    background: #bada55;
                    -webkit-animation-name: rubberBand;
                    animation-name: rubberBand;
                    animation-duration: 300ms;
                    animation-fill-mode: both;
                }

                .seat input[type=checkbox]:disabled + label {
                    background: #dddddd;
                    text-indent: -9999px;
                    overflow: hidden;
                }

                    .seat input[type=checkbox]:disabled + label:after {
                        content: "X";
                        text-indent: 0;
                        position: absolute;
                        top: 18px;
                        left: 50%;
                        transform: translate(-50%, 0%);
                    }

                    .seat input[type=checkbox]:disabled + label:hover {
                        box-shadow: none;
                        cursor: not-allowed;
                    }

            .seat label {
                display: block;
                position: relative;
                width: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.5rem;
                padding: 4px 0;
                background: #ffb66c;
                border-radius: 5px;
                animation-duration: 300ms;
                animation-fill-mode: both;
            }

                .seat label:before {
                    content: "";
                    position: absolute;
                    width: 75%;
                    height: 75%;
                    top: 1px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 3px;
                }

                .seat label:hover {
                    cursor: pointer;
                    box-shadow: 0 0 0px 2px #5C6AFF;
                }


        /*small car*/
        .smallseat {
            display: flex;
            padding: 5px;
            position: relative;
            height: 40px;
            width: 30px;
        }

            .smallseat:nth-child(3) {
                /*margin-right: 14.28571428571429%;*/
            }

            .smallseat input[type=checkbox] {
                position: absolute;
                opacity: 0;
            }

                .smallseat input[type=checkbox]:checked + label {
                    background: #bada55;
                    -webkit-animation-name: rubberBand;
                    animation-name: rubberBand;
                    animation-duration: 300ms;
                    animation-fill-mode: both;
                }

                .smallseat input[type=checkbox]:disabled + label {
                    background: #dddddd;
                    text-indent: -9999px;
                    overflow: hidden;
                }

                    .smallseat input[type=checkbox]:disabled + label:after {
                        content: "X";
                        text-indent: 0;
                        position: absolute;
                        top: 5px;
                        left: 50%;
                        transform: translate(-50%, 0%);
                    }

                    .smallseat input[type=checkbox]:disabled + label:hover {
                        box-shadow: none;
                        cursor: not-allowed;
                    }

            .smallseat label {
                display: block;
                position: relative;
                width: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.5rem;
                padding: 4px 0;
                background: #ffb66c;
                border-radius: 5px;
                animation-duration: 300ms;
                animation-fill-mode: both;
            }

                .smallseat label:before {
                    content: "";
                    position: absolute;
                    width: 75%;
                    height: 75%;
                    top: 1px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 3px;
                }

                .smallseat label:hover {
                    cursor: pointer;
                    box-shadow: 0 0 0px 2px #5C6AFF;
                }
    </style>

    <style type="text/css">
        input[type="text"] {
            border-radius: 10px
        }

        input[type="tel"] {
            border-radius: 10px
        }

        input[type="submit"] {
            border-radius: 10px
        }

        input[type="password"] {
            border-radius: 10px
        }

        input[type="button"] {
            border-radius: 10px
        }

        a.btn {
            border-radius: 10px !important;
        }

        select {
            border-radius: 10px !important;
        }

        .checked {
            color: orange;
        }

        #imageUpload {
            display: none;
        }

        #profileImage {
            cursor: pointer;
        }

        #profile-container {
            width: 150px;
            height: 150px;
            overflow: hidden;
            border: outset;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }

            #profile-container img {
                width: 150px;
                height: 150px;
            }

        #profile-container-small {
            width: 50px;
            height: 50px;
            overflow: hidden;
            border: outset;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }

            #profile-container-small img {
                width: 50px;
                height: 50px;
            }
    </style>

    <style>
        /* Style The Dropdown Button */
        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: black;
        }
    </style>

    <style>
        body, html {
            height: 100%;
        }

        .bg {
            /* The image used */
            /*todo find a nice full backgroud picture and set it here*/
            /*background-image: url(../../Content/Icons/background.jpg);*/
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        -webkit-keyframes spin {
            from

        {
            -webkit-transform: rotateZ(0deg);
        }

        to {
            -webkit-transform: rotateZ(360deg);
        }

        }

        keyframes spin {
            from

        {
            transform: rotateZ(0deg);
        }

        to {
            transform: rotateZ(360deg);
        }

        }

        header span {
            display: inline-block;
            /* All the rest of header span {} code goes here. I didn't copy it all. */
        }
    </style>
</head>

<body class="bg">
    @*<input type="button" class="btn btn-dark" id="btnAdd" value="Instalar" />*@
    @{if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".toggle-button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @{
                            var claims = (System.Security.Claims.ClaimsIdentity)User.Identity;
                            var name = string.Empty;
                            var userType = string.Empty;
                            var trips = 0;
                            var reservations = 0;
                            var notifications = 0;

                            var fullName = claims.FindFirst("Name");
                            var userTypeObj = claims.FindFirst("UserType");
                            var tripsObj = claims.FindFirst("Trips");
                            var reservationsObj = claims.FindFirst("Reservations");
                            var notificationsObj = claims.FindFirst("Notifications");

                            if (fullName != null)
                            {
                                name = fullName.Value;
                            }

                            if (userTypeObj != null)
                            {
                                userType = userTypeObj.Value;
                            }

                            if (tripsObj != null)
                            {
                                trips = Convert.ToInt32(tripsObj.Value);
                            }

                            if (reservationsObj != null)
                            {
                                reservations = Convert.ToInt32(reservationsObj.Value);
                            }

                            if (notificationsObj != null)
                            {
                                notifications = Convert.ToInt32(notificationsObj.Value);
                            }
                        }
                        <a class="navbar-brand" href="/Home/Index">Hola @name &nbsp;<i class="fas fa-thumbs-up"></i></a>
                    </div>
                    @{
                        //admin
                        if (userType == "2")
                        {
                            <div class="visible-lg">
                                <div class="toggle-button navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            @{
                                                if (trips > 0)
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes <span class="badge">@trips</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (reservations > 0)
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones <span class="badge">@reservations</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (notifications > 0)
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones <span class="badge">@notifications</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones</a>
                                                }
                                            }
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book">&nbsp;</i>Historial&nbsp;<i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="~/Trips/LoadDriverTripHistorial"><i class="fas fa-car">&nbsp;</i>Viajes</a></li>
                                                <li><a href="~/Reservations/LoadPassengerReservationHistorial"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Account/ManageUsers"><i class="fas fa-users">&nbsp;</i>Usuarios</a></li>
                                        <li><a href="~/Logs/Index"><i class="fas fa-clipboard">&nbsp;</i>Logs</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                @*
                                    <li role="separator" class="divider"></li>*@
                                                <li><a href="~/Account/GetPendingUserIdentifications"><i class="fas fa-id-card">&nbsp;</i>Cédulas</a></li>
                                                <li><a href="~/Email/Index"><i class="fas fa-envelope">&nbsp;</i>Correos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                            <div class="visible-md">
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            @{
                                                if (trips > 0)
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes <span class="badge">@trips</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (reservations > 0)
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones <span class="badge">@reservations</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (notifications > 0)
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones <span class="badge">@notifications</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones</a>
                                                }
                                            }
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book">&nbsp;</i>Historial&nbsp;<i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="~/Trips/LoadDriverTripHistorial"><i class="fas fa-car">&nbsp;</i>Viajes</a></li>
                                                <li><a href="~/Reservations/LoadPassengerReservationHistorial"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                @*
                                    <li role="separator" class="divider"></li>*@
                                                <li><a href="~/Account/ManageUsers"><i class="fas fa-users">&nbsp;</i>Usuarios</a></li>
                                                <li><a href="~/Logs/Index"><i class="fas fa-clipboard">&nbsp;</i>Logs</a></li>
                                                <li><a href="~/Account/GetPendingUserIdentifications"><i class="fas fa-id-card">&nbsp;</i>Cédulas</a></li>
                                                <li><a href="~/Email/Index"><i class="fas fa-envelope">&nbsp;</i>Correos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                            <div class="visible-sm">
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            @{
                                                if (trips > 0)
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes <span class="badge">@trips</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (reservations > 0)
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones <span class="badge">@reservations</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a>
                                                }
                                            }
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book">&nbsp;</i>Historial&nbsp;<i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="~/Trips/LoadDriverTripHistorial"><i class="fas fa-car">&nbsp;</i>Viajes</a></li>
                                                <li><a href="~/Reservations/LoadPassengerReservationHistorial"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                @*
                                    <li role="separator" class="divider"></li>*@
                                                <li>
                                                    @{
                                                        if (notifications > 0)
                                                        {
                                                            <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones <span class="badge">@notifications</span></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones</a>
                                                        }
                                                    }
                                                </li>
                                                <li><a href="~/Account/ManageUsers"><i class="fas fa-users">&nbsp;</i>Usuarios</a></li>
                                                <li><a href="~/Logs/Index"><i class="fas fa-clipboard">&nbsp;</i>Logs</a></li>
                                                <li><a href="~/Account/GetPendingUserIdentifications"><i class="fas fa-id-card">&nbsp;</i>Cédulas</a></li>
                                                <li><a href="~/Email/Index"><i class="fas fa-envelope">&nbsp;</i>Correos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                            <div class="visible-xs">
                                <div class="toggle-button navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            @{
                                                if (trips > 0)
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes <span class="badge">@trips</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (reservations > 0)
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones <span class="badge">@reservations</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (notifications > 0)
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones <span class="badge">@notifications</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones</a>
                                                }
                                            }
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book">&nbsp;</i>Historial&nbsp;<i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="~/Trips/LoadDriverTripHistorial"><i class="fas fa-car">&nbsp;</i>Viajes</a></li>
                                                <li><a href="~/Reservations/LoadPassengerReservationHistorial"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Account/ManageUsers"><i class="fas fa-users">&nbsp;</i>Usuarios</a></li>
                                        <li><a href="~/Logs/Index"><i class="fas fa-clipboard">&nbsp;</i>Logs</a></li>
                                        <li><a href="~/Account/GetPendingUserIdentifications"><i class="fas fa-id-card">&nbsp;</i>Cédulas</a></li>
                                        <li><a href="~/Email/Index"><i class="fas fa-envelope">&nbsp;</i>Correos</a></li>
                                    </ul>
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                            //driver
                        }
                        else if (userType == "0")
                        {
                            <div class="visible-xs visible-md visible-lg">
                                <div class="toggle-button navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            @{
                                                if (trips > 0)
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes <span class="badge">@trips</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (reservations > 0)
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones <span class="badge">@reservations</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (notifications > 0)
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones <span class="badge">@notifications</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones</a>
                                                }
                                            }
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book">&nbsp;</i>Historial&nbsp;<i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="~/Trips/LoadDriverTripHistorial"><i class="fas fa-car">&nbsp;</i>Viajes</a></li>
                                                <li><a href="~/Reservations/LoadPassengerReservationHistorial"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/Account/ContactUs"><i class="fas fa-envelope">&nbsp;</i>Contáctenos</a></li>
                                    </ul>
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                            <div class="visible-sm">
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            @{
                                                if (trips > 0)
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes <span class="badge">@trips</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Trips/Index"><i class="fas fa-car">&nbsp;</i>Viajes</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (reservations > 0)
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones <span class="badge">@reservations</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (notifications > 0)
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones <span class="badge">@notifications</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones</a>
                                                }
                                            }
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book">&nbsp;</i>Historial&nbsp;<i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="~/Trips/LoadDriverTripHistorial"><i class="fas fa-car">&nbsp;</i>Viajes</a></li>
                                                <li><a href="~/Reservations/LoadPassengerReservationHistorial"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                @*
                                    <li role="separator" class="divider"></li>*@
                                                <li><a href="~/Account/ContactUs"><i class="fas fa-envelope">&nbsp;</i>Contáctenos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                            //passenger
                        }
                        else if (userType == "1")
                        {
                            <div class="visible-lg visible-md visible-xs">
                                <div class="toggle-button navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            @{
                                                if (reservations > 0)
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones <span class="badge">@reservations</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (notifications > 0)
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones <span class="badge">@notifications</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones</a>
                                                }
                                            }
                                        </li>
                                        <li><a href="~/Reservations/LoadPassengerReservationHistorial"><i class="fas fa-book">&nbsp;</i>Historial</a></li>
                                        <li><a href="~/Account/ContactUs"><i class="fas fa-envelope">&nbsp;</i>Contáctenos</a></li>
                                    </ul>
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                            <div class="visible-sm">
                                <div class="toggle-button navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            @{
                                                if (reservations > 0)
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones <span class="badge">@reservations</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/Reservations/ReservationIndex"><i class="fas fa-book-open">&nbsp;</i>Reservaciones</a>
                                                }
                                            }
                                        </li>
                                        <li>
                                            @{
                                                if (notifications > 0)
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones <span class="badge">@notifications</span></a>
                                                }
                                                else
                                                {
                                                    <a href="~/NotificationRequests/Index"><i class="fas fa-bell">&nbsp;</i>Notificaciones</a>
                                                }
                                            }
                                        </li>
                                        <li><a href="~/Reservations/LoadPassengerReservationHistorial"><i class="fas fa-book">&nbsp;</i>Historial</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-caret-square-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="~/Account/ContactUs"><i class="fas fa-envelope">&nbsp;</i>Contáctenos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <div class="navbar navbar-inverse navbar-fixed-top" style="border-radius: 0px 0px 15px 15px">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("¡Bienvenido!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        }
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <br />
            <small class="pull-right">&copy; @DateTime.Now.Year - www.buscoridecr.com <img src="~/Content/Icons/ride_small_pkW_icon.ico" style="width:20px; height:20px" /></small>
        </footer>
        <div class="modal fade" id="qualifyUserModal" tabindex="-1" role="dialog" aria-labelledby="qualifyUserModalModalLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" id="q-reservation-id" name="q-reservation-id" class="hidden" />
                            <input type="text" id="q-trip-id" name="q-trip-id" class="hidden" />
                            <input type="text" id="q-stars" name="q-stars" class="hidden" />
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="dayTripModalLabel">Calificación de Usuarios</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3>
                                        <p id="p-User-Name"></p>

                                        <a href="#" data-toggle="tooltip" onclick="SetStars(1,'q-')" title="Muy Malo"><span id="q-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                        <a href="#" data-toggle="tooltip" onclick="SetStars(2,'q-')" title="Malo"><span id="q-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                        <a href="#" data-toggle="tooltip" onclick="SetStars(3,'q-')" title="Bueno"><span id="q-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                        <a href="#" data-toggle="tooltip" onclick="SetStars(4,'q-')" title="Muy Bueno"><span id="q-star4" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                        <a href="#" data-toggle="tooltip" onclick="SetStars(5,'q-')" title="Excelente"><span id="q-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" id="q-comment" name="q-comment" style="height:200px; min-width:100%" placeholder="Deja un comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="btnsContainer" class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar" />
                            <input type="button" class="btn btn-info" onclick="QualifyUser()" value="Calificar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-header">
                    <h1>Processing...</h1>
                </div>
                <div class="modal-body">
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 100%;"></div>
                    </div>
                </div>
            </div>*@
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/Growl/jquery.bootstrap-growl.js"></script>

    <script>
        $('.money').click(function () {
            $(this).select();
        });

        $('.money').change(function () {
            $(this).select();
            var moneyValue = $(this).val();

            var formatter = new Intl.NumberFormat('es-CR', {
                style: 'currency',
                currency: 'CRC',
            });

            $(this).val(formatter.format(moneyValue));
        });

        $('.emailvalidation').change(function () {
            var email = $(this).val();

            $('#Email').val(email);

            if (!validateEmail(email)) {
                $('#Email').css("background", "#FADBD8");
            } else {
                $('#Email').css("background", "#D1F2EB");
            }
        });

        function PopUpQualifyModal(reservationId, tripId, userName, url) {
            $('#q-reservation-id').val(reservationId);
            $('#q-trip-id').val(tripId);
            $('#p-User-Name').html(userName);
            $('#q-comment').val('');
            $('#q-star4').removeClass('checked');
            $('#q-star5').removeClass('checked');

            $('#qualifyUserModal').modal();
        }

        function QualifyUser() {
            var reservationId = $('#q-reservation-id').val();
            var tripId = $('#q-trip-id').val();
            var stars = $('#q-stars').val();
            var comment = $('#q-comment').val();

            if (tripId == '') {
                tripId = null;
            }

            console.log('ReservationId: ' + reservationId + ', TripId: ' + tripId + ', Stars: ' + stars + ', Comment: ' + comment);

            $.post('@Url.Action("QualifyUser", "Qualifications")', { reservationId: reservationId, tripId: tripId, stars: stars, comment: comment},
                function (data) {
                    $('#qualifyUserModal').modal('toggle');

                    if (data != '') {
                        var json = JSON.parse(data);

                        sleep(400);

                        if (json.Message != '') {
                            DisplayGrowlMessage(json.Message, json.MessageType);
                        }

                        $('#container-id').html(json.Html);
                    } else {
                        DisplayGrowlMessage('¡Error inesperado, intente de nuevo!', 'error');
                    }
                });
        }

        function SetStars(stars, prefix) {
            console.log("Setting stars...");

            $('#' + prefix + 'star1').removeClass('checked');
            $('#' + prefix + 'star2').removeClass('checked');
            $('#' + prefix + 'star3').removeClass('checked');
            $('#' + prefix + 'star4').removeClass('checked');
            $('#' + prefix + 'star5').removeClass('checked');

            $('#q-stars').val(stars);

            for (var i = 1; i <= stars; i++) {
                $('#' + prefix + 'star' + i).addClass('checked');
            }
        }

        $(document).ready(function () {
            checkMessages();

            //default
            $('#q-stars').val(3);
        });

        function checkMessages() {
            var error = '@ViewBag.Error';
            var warning = '@ViewBag.Warning';
            var info = '@ViewBag.Info';

            if (error != '') {
                DisplayGrowlMessage(error, 'error');
            }

            if (warning != '') {
                DisplayGrowlMessage(warning, 'warn');
            }

            if (info != '') {
                DisplayGrowlMessage(info, 'success');
            }
        }

        function displayMessages(message, type) {
            if (type == 'error') {
                DisplayGrowlMessage(message, 'error');
            }

            if (type == 'warning') {
                DisplayGrowlMessage(message, 'warn');
            }

            if (type == 'info') {
                DisplayGrowlMessage(message, 'success');
            }
        }

        function ScrollUp() {
            $('html, body').animate({
                scrollTop: 0
            }, 1000);
        }

        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds) {
                    break;
                }
            }
        }

        function DisplayGrowlMessage(message, type) {
            var codingmessage = GetMessage(message);

            if (codingmessage === "") {
                $.notify(message, type);
            } else {
                $.notify(codingmessage, type);
            }
        }

        function SetRandomImage() {
            var types = ['abstract', 'city', 'people', 'transport', 'animals', 'food', 'nature', 'business', 'nightlife', 'sports', 'cats', 'fashion', 'technics'];
            var baseUrl = 'http://lorempixel.com/100/100/'
            var selectedTypeIndex = GetRandomNumber(14);
            var selectedType = types[selectedTypeIndex];

            var selectedPic = GetRandomNumber(11);

            baseUrl += selectedType + "/" + selectedPic + "/"

            return baseUrl;
        }

        function GetRandomNumber(top) {
            return Math.floor(Math.random() * top)
        }

        //$('.btnLink').click(function () {
        //    $(this).html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Procesando...').addClass('disabled');
        //});

        $('.custom-spin-button').on('click', function () {
            var $this = $(this);
            $this.button('loading');
        });
    </script>

    <script>
        //if ('serviceWorker' in navigator) {
        //    navigator.serviceWorker
        //        .register('/serviceworker.js')
        //        .then(function () { console.log('Service Worker Registered'); });
        //}

        //let deferredPrompt;

        //window.addEventListener('beforeinstallprompt', (e) => {
        //    e.userChoice.then(function (result) {
        //        if (result.outcome == 'dismissed') {
        //            alert('They dismissed, send to analytics')
        //        } else {
        //            alert('User accepted! Send to analytics')
        //        }
        //    });

        //    //// Prevent Chrome 67 and earlier from automatically showing the prompt
        //    //e.preventDefault();
        //    //// Stash the event so it can be triggered later.
        //    //deferredPrompt = e;

        //    //// Update UI notify the user they can add to home screen
        //    //btnAdd.style.display = 'block';
        //});
        //window.addEventListener('appinstalled', (evt) => {
        //    console.log('a2hs installed');
        //});

        //btnAdd.addEventListener('click', (e) => {

        //    // hide our user interface that shows our A2HS button
        //    btnAdd.style.display = 'none';
        //    // Show the prompt
        //    deferredPrompt.prompt();
        //    // Wait for the user to respond to the prompt
        //    deferredPrompt.userChoice
        //        .then((choiceResult) => {
        //            if (choiceResult.outcome === 'accepted') {
        //                console.log('User accepted the A2HS prompt');
        //            } else {
        //                console.log('User dismissed the A2HS prompt');
        //            }
        //            deferredPrompt = null;
        //        });
        //});
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            //waitingDialog.hide();
        });





        function GetMessage(code) {
            if (code === "10001") {
                return "¡Contraseña debe tener al menos una letra y un número!";
            } else if (code === "10002") {
                return "¡El país ya existe!";
            } else if (code === "10003") {
                return "¡País Creado!";
            } else if (code === "10004") {
                return "¡La localidad ya existe!";
            } else if (code === "10005") {
                return "¡Origen Inválido!";
            } else if (code === "10006") {
                return "¡Destino Inválido!";
            } else if (code === "10007") {
                return "¡Viaje Creado!";
            } else if (code === "10008") {
                return "¡Banco Eliminado!";
            } else if (code === "10009") {
                return "¡País Actualizado!";
            } else if (code === "100010") {
                return "¡País Eliminado!";
            } else if (code === "100011") {
                return "¡Perfíl Actualizado!";
            } else if (code === "100012") {
                return "¡Origen Requerido!";
            } else if (code === "100013") {
                return "¡Destino no válido!";
            } else if (code === "100014") {
                return "¡No hay viajes disponibles!";
            } else if (code === "100015") {
                return "¡Reservación Aceptada!";
            } else if (code === "100016") {
                return "¡Reservación Cancelada!";
            } else if (code === "100017") {
                return "¡Reservación Rechazada!";
            } else if (code === "100018") {
                return "¡Reservación Creada, conductor notificado!";
            } else if (code === "100019") {
                return "¡Origen/Destino Creado!";
            } else if (code === "100020") {
                return "¡Destino/Origen Actualizado!";
            } else if (code === "100021") {
                return "¡Origen/Destino Eliminado!";
            } else if (code === "100022") {
                return "¡Cuenta no verificada!";
            } else if (code === "100023") {
                return "¡Reservación ya existente!";
            } else if (code === "100024") {
                return "¡Usuario Actualizado!";
            } else if (code === "100025") {
                return "¡Mensaje Vacío!";
            } else if (code === "100026") {
                return "¡Mensaje Enviado!";
            } else if (code === "100026") {
                return "¡Tu cuenta no ha sido verificada! Te hemos reenviado el correo de confirmación. Si no lo encuentras revisa los correos no deseados.";
            } else if (code === "100027") {
                return "¡Usuario Calificado!";
            } else if (code === "100028") {
                return "¡Marca Inválida!";
            } else if (code === "100029") {
                return "¡Modelo Inválido!";
            } else if (code === "100030") {
                return "¡Nombre Requerido!";
            } else if (code === "100031") {
                return "¡Apellido Requerido!";
            } else if (code === "100032") {
                return "¡Celular Requerido!";
            } else if (code === "100033") {
                return "¡Color Vehículo Requerido!";
            } else if (code === "100034") {
                return "Placa Vehículo Requerida!";
            } else if (code === "100035") {
                return "¡Capacidad Vehiculo Requerida!";
            } else if (code === "100036") {
                return "¡Destino Requerido!";
            } else if (code === "100037") {
                return "¡Fecha inválida!";
            } else if (code === "100038") {
                return "¡Cuota Requerida!";
            } else if (code === "100039") {
                return "¡Ruta Requerida!";
            } else if (code === "100040") {
                return "¡Notificación automática Creada!";
            } else if (code === "100041") {
                return "¡Notificación automática cancelada!";
            } else if (code === "100042") {
                return "¡Código de verificación enviado!";
            } else if (code === "100043") {
                return "¡Código no enviado, contacte al administrador!";
            } else if (code === "100044") {
                return "¡Código de verificación requerido!";
            } else if (code === "100045") {
                return "¡El código de verificación debe ser de 6 dígitos!";
            } else if (code === "100046") {
                return "¡Su número de celular ha sido confimado!";
            } else if (code === "100047") {
                return "¡Código de verificación incorrecto!";
            } else if (code === "100048") {
                return "¡Servicio SMS inactivo!";
            } else if (code === "100049") {
                return "¡Cédula Requerida!";
            } else if (code === "100050") {
                return "¡Cédula Verificada!";
            } else if (code === "100051") {
                return "¡Cédula Invalidada!";
            } else if (code === "100052") {
                return "¡Ya existe una cuenta asignada a este correo electrónico!";
            } else if (code === "100053") {
                return "¡Ya existe una cuenta asignada a esta cédula!";
            } else if (code === "100054") {
                return "¡Ya existe una cuenta asignada a este número celular!";
            } else if (code === "100055") {
                return "¡Correo electrónico requerido!";
            } else if (code === "100056") {
                return "¡Contraseña Requerida!";
            } else if (code === "100057") {
                return "¡Usuario o constraseña incorrectos!";
            } else if (code === "100058") {
                return "¡Número de cédula requerido!";
            } else if (code === "100059") {
                return "¡Número de cédula inválida, ingrésela nuevamente!";
            } else if (code === "100060") {
                return "¡Número celular no verificado!";
            } else if (code === "100061") {
                return "¡Información del vehículo requerida!";
            } else if (code === "100062") {
                return "¡Procesando de envío a todos los usuarios!";
            } else if (code === "100063") {
                return "¡Ruta no válida!";
            } else if (code === "100064") {
                return "¡Fecha de ida expirada!";
            } else if (code === "100065") {
                return "¡Fecha de vuelta expirada!";
            } else if (code === "100066") {
                return "¡Fecha de vuelta no puede ser antes que la fecha de ida!";
            } else if (code === "100067") {
                return "¡Origen y Destino no pueden ser iguales!";
            } else if (code === "100068") {
                return "¡Fecha Requerida!";
            } else if (code === "100069") {
                return "¡Ruta de vuelta requerida!";
            } else if (code === "100070") {
                return "¡Fecha de vuelta requerida!";
            } else if (code === "100071") {
                return "¡Encuentro de vuelta requerido!";
            } else if (code === "100072") {
                return "¡Encuentro Requerido!";
            } else if (code === "100073") {
                return "¡Por favor seleccione al menos un campo!";
            } else if (code === "100074") {
                return "¡Usuario Calificado!";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else if (code === "xxxxxxxxx") {
                return "zzzzzzzzzzzzzzzzzzzzzz";
            } else {
                return "";
            }
        }

        function formatAMPM(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }

        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
    </script>
</body>
</html>



@*
        //icons
        //https://fontawesome.com/icons?d=gallery&q=hand&m=free

        //cod para poner botones de tooltips
    <div class="input-group btn-block">
        @Html.TextBoxFor(m => m.Phone1, new { @class = "form-control", @placeholder = "####-####" })
        @{
        if (!Model.IsPhoneVerified)
        {
        <div id="information-type-tooltip-button">
            <button type="button" onclick="return false" class="btn btn-danger pull-left" aria-label="Help"><span class="glyphicon glyphicon-alert" data-toggle="tooltip" title="¡Número telefónico no verificado!"></span></button>
        </div>
        }
        else
        {
        <div id="information-type-tooltip-button">
            <button type="button" class="btn btn-info pull-left" aria-label="Help"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="¡Número telefónico verificado!"></span></button>
        </div>
        }
        }
    </div>*@

@*Para ver las propiedades de objetos en javascript
    for (const prop in event) {
        console.log(`obj.${prop} = ${event[prop]}`);
    }*@

@*
    Espacios: car-side
    Cuota: money-bill-alt
*@