@model IEnumerable<CarpoolingCR.Models.Reservation>

@{
    ViewBag.Title = "Index";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<h2>Consulta de Reservas</h2>

<p>
    @Html.ActionLink("Menú Principal", "ValidateUserRol", "UserRols", new { }, new { @class = "btn btn-info " })
    @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn btn-primary pull-right" })
</p>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    @*var from = item.Trip.Journey.Name.Replace(item.Trip.RouteDetail, "").Replace(" - ", "");
                    var to = item.Trip.RouteDetail;
                    <label class="control-label">@from  - @to</label> <h6>@Html.DisplayFor(modelItem => item.Date)</h6>*@
                    <h6>Conductor: @Html.DisplayFor(modelItem => item.ApplicationUser.Email)</h6>
                    <h6>Espacios Solicitados: @Html.DisplayFor(modelItem => item.RequestedSpaces)</h6>
                    <h6>Estado: @Html.DisplayFor(modelItem => item.Status)</h6>
                }
            </td>
            <td class="">
                @Html.ActionLink("X", "Delete", new { id = item.TripId }, new { @class = "btn btn-danger " })
            </td>
        </tr>
    }

</table>
