@model CarpoolingCR.Objects.Responses.ReservationTransportationResponse

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
<style>
    .checked {
        color: orange;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<br />
<div class="row form-group">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5 class="pull-left">Reservaciones: @Model.PassengerReservations.Count</h5>
    </div>
</div>
<div id="yourreservations">
    <div class="row form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="form-group has-feedback has-search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                <input type="text" class="form-control search" placeholder="Búsqueda">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a class="btn btn-info btn-sm btn-block custom-spin-button pull-right" href="@Url.Action("CreateReservation", "Reservations")" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Reserva tu viaje" style="width:150px">Reserva tu viaje</a>
        </div>
    </div>
    @{
        if (Model.PassengerReservations.Count == 0)
        {
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8" style="text-align:center">
                    <small>¡No hay reservaciones registradas!</small>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
                </div>
            </div>
        }
        else
        {
            <ul class="list" style="list-style:none; padding:0px">
                @{
                    var claims = (System.Security.Claims.ClaimsIdentity)User.Identity;
                    var value = string.Empty;
                    var obj = claims.FindFirst("CurrencyChar");
                    var currency = string.Empty;
                    var country = string.Empty;

                    if (obj != null)
                    {
                        currency = obj.Value;
                    }

                    foreach (var reservation in Model.PassengerReservations)
                    {
                        var from = reservation.Trip.FromTown.FullName;
                        var to = reservation.Trip.ToTown.FullName;
                        var route = reservation.Trip.Route.Name;
                        var selectedSeatsTotalPrice = reservation.SelectedSeatsTotalPrice;

                        <li class="panel panel-default" style="border-radius:10px; padding:0px">
                            <div class="row form-group" style="padding-left:10px;padding-top:10px;padding-right:10px;padding-bottom:0px">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                            <span class="fas fa-calendar-alt"></span><small> <b>@reservation.Trip.LocalDateTime.ToString("dddd dd 'de' MMMM 'del' yyyy")</b></small><br />
                                            <span class="fas fa-clock"></span>&nbsp;<small>@reservation.Trip.LocalDateTime.ToString("hh:mm tt")</small>&nbsp;&nbsp;<br class="visible-xs" /><span class="fas fa-map-marker-alt">&nbsp;</span><small class="from">@from</small><br />
                                            <span class="fas fa-clock"></span>&nbsp;<small>@reservation.Trip.LocalArrivalDateTime.ToString("hh:mm tt")</small>&nbsp;&nbsp;<br class="visible-xs" /><span class="fas fa-map-marker-alt">&nbsp;</span><small class="to">@to</small><br />
                                            <b><span class="fas fa-route">&nbsp;</span>Ruta: </b><small class="route">@route</small><br />
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                                            @Html.Partial("~/Views/Account/Partials/p_UserOverallInfo.cshtml", reservation.Trip.ApplicationUser)
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <b><span class="fas fa-road">&nbsp;</span>Distancia: </b><small class="route">@reservation.Trip.AproxDistance km</small><br />
                                            @{
                                                var description = CarpoolingCR.Utils.EnumHelper<CarpoolingCR.Utils.Enums.ReservationStatus>.GetDisplayValue(reservation.Status);

                                                if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Rejected)
                                                {
                                                    <small class="status text-danger"><b><span class="fas fa-shield-alt">&nbsp;</span>Estado: @description <span class="fas fa-frown">&nbsp;</span></b></small>
                                                }
                                                else
                                                {
                                                    if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Pending)
                                                    {
                                                        <small class="status text-warning"><b><span class="fas fa-shield-alt">&nbsp;</span>Estado: @description <span class="fas fa-clock">&nbsp;</span></b></small>
                                                    }
                                                    else
                                                    {
                                                        <small class="status text-success"><b><span class="fas fa-shield-alt">&nbsp;</span>Estado: @description <span class="fas fa-smile-beam">&nbsp;</span></b></small>
                                                    }
                                                }
                                            }
                                            <br />
                                            @*<small class="price"><b><span class="fas fa-money-bill-alt">&nbsp;</span>Cuota: </b> @currency @reservation.Trip.Price</small><br />*@
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <small class="spaces"><b><span class="fas fa-car-side">&nbsp;</span>Espacios: </b>  @reservation.RequestedSpaces</small><br />
                                            @{
                                                if (reservation.Status != CarpoolingCR.Utils.Enums.ReservationStatus.Cancelled)
                                                {
                                                    <input type="button" class="btn btn-danger btn-sm pull-right" value="Cancelar Reservación" onclick="ConfirmAction(@reservation.ReservationId, '@CarpoolingCR.Utils.Enums.ReservationStatus.Cancelled','cancelar esta reservación','Reservaciones', 'Cancelar', 'btn-danger', 'passenger')" />
                                                }
                                            }
                                            @{
                                                var spacesSelected = reservation.SpacesSelected.Split(new string[] { ";" }, StringSplitOptions.RemoveEmptyEntries);
                                                var displaySpaces = string.Empty;

                                                <ul style="padding:0px 0px 0px 24px">
                                                    @{
                                                        foreach (var space in spacesSelected)
                                                        {
                                                            switch (space)
                                                            {
                                                                case "modelPriceCopilot":
                                                                    <li><small>Delantero Derecho</small></li>
                                                                    break;
                                                                case "modelPriceLeft":
                                                                    <li><small>Trasero Izquierdo</small></li>
                                                                    break;
                                                                case "modelPriceMiddle":
                                                                    <li><small>Trasero Central</small></li>
                                                                    break;
                                                                case "modelPriceRight":
                                                                    <li><small>Trasero Derecho</small></li>
                                                                    break;
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                    <div class="row form-group btn-group center-block" style="padding-left:0px; padding-right:0px; margin-bottom:0px">
                                        @{
                                            if (reservation.Trip.AllowPets)
                                            {
                                                <div id="pet" class="btn btn-xs btn-info panel panel-default active" data-toggle="button" onclick="return false" aria-pressed="true" style="border-radius:10px 0px 0px 10px; pointer-events:none; width:70px">
                                                    <span class="fas fa-dog">&nbsp;</span>&nbsp;<span id="check-pet" class="fas fa-check-circle">&nbsp;</span><br /><small class="control-label" style="text-align:left">Mascotas </small>
                                                    <input type="text" id="ck-pet" name="ck-pet" style="display:none" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="pet" class="btn btn-xs btn-info panel panel-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border-radius:10px 0px 0px 10px; pointer-events:none; width:70px">
                                                    <span class="fas fa-dog">&nbsp;</span>&nbsp;<span id="check-pet" class="fas fa-check-circle hidden">&nbsp;</span><br /><small class="control-label" style="text-align:left">Mascotas </small>
                                                    <input type="text" id="ck-pet" name="ck-pet" style="display:none" />
                                                </div>
                                            }

                                            if (reservation.Trip.AllowLuggage)
                                            {
                                                <div id="luggage" class="btn btn-xs btn-info col-lg-4 panel panel-default active" data-toggle="button" aria-pressed="true" autocomplete="off" style="border-radius:0px;pointer-events:none; width:70px">
                                                    <span class="fas fa-suitcase-rolling">&nbsp;</span>&nbsp;<span id="check-luggage" class="fas fa-check-circle"></span><br /><small class="control-label" style="text-align:left">Equipaje </small>&nbsp;
                                                    <input type="text" id="ck-luggage" name="ck-luggage" style="display:none" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="luggage" class="btn btn-xs btn-info col-lg-4 panel panel-default allow-checkboxes" data-toggle="button" aria-pressed="false" autocomplete="off" style="border-radius:0px;pointer-events:none; width:70px">
                                                    <span class="fas fa-suitcase-rolling">&nbsp;</span>&nbsp;<span id="check-luggage" class="fas fa-check-circle hidden">&nbsp;</span><br /><small class="control-label" style="text-align:left">Equipaje </small>
                                                    <input type="text" id="ck-luggage" name="ck-luggage" style="display:none" />
                                                </div>
                                            }

                                            if (reservation.Trip.AllowSmoking)
                                            {
                                                <div id="smoking" class="btn btn-xs btn-info col-lg-4 panel panel-default active" data-toggle="button" aria-pressed="true" autocomplete="off" style="border-radius:0px 10px 10px 0px;pointer-events:none; width:70px">
                                                    <span class="fas fa-smoking">&nbsp;</span>&nbsp;<span id="check-smoking" class="fas fa-check-circle">&nbsp;</span><br /><small class="control-label" style="text-align:left">Fumado</small>
                                                    <input type="text" id="ck-smoking" name="ck-smoking" style="display:none" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="smoking" class="btn btn-xs btn-info col-lg-4 panel panel-default allow-checkboxes" data-toggle="button" aria-pressed="false" autocomplete="off" style="border-radius:0px 10px 10px 0px;pointer-events:none; width:70px">
                                                    <span class="fas fa-smoking">&nbsp;</span>&nbsp;<span id="check-smoking" class="fas fa-check-circle hidden">&nbsp;</span><br /><small class="control-label" style="text-align:left">Fumado</small>
                                                    <input type="text" id="ck-smoking" name="ck-smoking" style="display:none" />
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="row form-group" style="">
                                        <hr />
                                        @{
                                            if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Rejected)
                                            {
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <small class="text-danger">¡Tu reservación ha sido rechazada por el conductor! Da click en "Cancelar Reservación" para eliminarla de tu lista.</small><br />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <span class="badge badge-success pull-left"><i class="fas fa-money-bill-alt">&nbsp;</i><b>Total: </b>@currency <span>@reservation.SelectedSeatsTotalPrice</span></span><br />
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <span class="badge badge-success"><i class="fas fa-coins">&nbsp;</i><b>Bono: </b>@currency <span>@reservation.totalPayedWithPromo</span></span><br />
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <span class="badge badge-success"><i class="fas fa-coins">&nbsp;</i><b>Ridecoins: </b>@currency <span>@reservation.totalPayedWithBalance</span></span><br />
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                                                    <span class="badge badge-success pull-right"><i class="fas fa-money-bill-alt">&nbsp;</i><b>Efectivo: </b>@currency <span>@reservation.totalPayedWithCash</span></span><br />
                                                </div>
                                                <div class="col-xs-6 visible-xs">
                                                    <span class="badge badge-success"><i class="fas fa-money-bill-alt">&nbsp;</i><b>Efectivo: </b>@currency <span>@reservation.totalPayedWithCash</span></span><br />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        }
    }
</div>

<div class="modal fade" id="confirmReservationsAction" tabindex="-1" role="dialog" aria-labelledby="confirmReservationModalLabel" aria-hidden="true">
    <form action="~/Reservations/ChangeReservationStatus/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="confirmReservationModalLabel">TITLE</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="reservationId" name="reservationId" class="hidden" />
                        <input type="text" id="status" name="status" class="hidden" />
                        <input type="text" id="cancelledFrom" name="cancelledFrom" class="hidden" />
                        <small id="confirmText">CONFIRMATION TITLE?</small>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-sm btn-default" data-dismiss="modal" value="Salir" />
                            <input type="submit" id="modalButton" class="btn btn-sm btn-danger" value="Eliminar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="reservationChatModal" tabindex="-1" role="dialog" aria-labelledby="reservationChatModalLabel" aria-hidden="true">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="chatContainer">
            @Html.Partial("~/Views/ChattingMessages/_Index.cshtml", new CarpoolingCR.Objects.Responses.ChatMessageResponse { Messages = new List<CarpoolingCR.Models.ChattingMessage>() })
        </div>
    </div>
</div>

<script language="javascript">
    var options = {
        valueNames: ['from', 'to', 'date', 'price', 'driver', 'spaces', 'status']
    };

    var reservationCount = @Model.PassengerReservations.Count;

    if (reservationCount > 0) {
        var userList = new List('yourreservations', options);
    }

    function ConfirmAction(reservationId, status, detail, title, btnVal, btnClass, cancelledFrom) {
        $('#confirmReservationModalLabel').html(title);
        $('#confirmText').html('¿Está seguro que deseas ' + detail + ' ?');
        $('#reservationId').val(reservationId);
        $('#status').val(status);

        $('#modalButton').removeClass('btn-danger');
        $('#modalButton').removeClass('btn-info');

        $('#modalButton').val(btnVal);
        $('#modalButton').addClass(btnClass);
        $('#cancelledFrom').val(cancelledFrom);

        $("#confirmReservationsAction").modal();
    }

    function OpenChat(reservationId, fromName, toName) {
        $.get('/ChattingMessages/Index', { reservationId: reservationId },
            function (data) {
                $('#chatContainer').html(data);
            });

        $("#reservationChatModal").modal();
        $('#chatMessageContainer').scrollTop($('#chatMessageContainer')[0].scrollHeight);
    }

    $.connection.hub.start();
    $.connection.hub.qs = "myInfo=12345";
    var chat = $.connection.SignalHandlerHub;

    function SendMessage(reservationId, from) {
        var message = $('#messageChatText').val();

        $.post('@Url.Action("Create","ChattingMessages")', { reservationId: reservationId, userId: from, message: message },
            function (data) {
                $('#chatContainer').html(data);

                $('#chatMessageContainer').scrollTop($('#chatMessageContainer')[0].scrollHeight);
            });

    }

//$(document).ready(function () {
//    $('[data-toggle="tooltip"]').tooltip();
//});
</script>
