@model CarpoolingCR.Objects.Responses.ReservationTransportationResponse

@{
    ViewBag.Title = "Transportation";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<h3>Viajes</h3>
<div class="row form-group">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
            <ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
                <li role="tab" id="tabRequest" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="tabs-1" aria-labelledby="ui-id-15" aria-selected="true" aria-expanded="true">
                    <a href="#tabs-1" role="presentation" tabindex="-1" class="ui-tabs-anchor">Solicitar</a>
                </li>
                <li role="tab" id="tabPending" tabindex="1" class="ui-tabs-tab ui-corner-top ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-16" aria-selected="false" aria-expanded="false">
                    <a href="#tabs-2" role="presentation" tabindex="-1" class="ui-tabs-anchor">Pendientes</a>
                </li>
            </ul>
            <div id="tabs-1" aria-labelledby="ui-id-15" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true">
                <div class="row form-group">
                    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
                        <label class="control-label visible-xs visible-sm">Origen</label>
                        <label class="control-label pull-right visible-md visible-lg">Origen</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 form-inline">
                        <select id="FromTown" name="FromTown" class="form-control" onfocus="this.select()">
                            @Html.Raw(Model.DistrictControlOptions)
                        </select>
                        <input type="button" class="form-control btn btn-info btn-sm visible-xs pull-right" onclick="EraseValue('#FromTown')" style="width:42px" value="&#9003;" />
                        <input type="button" class="form-control btn btn-info btn-sm hidden-xs" onclick="EraseValue('#FromTown')" style="width:42px" value="&#9003;" />
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
                        <label class="control-label visible-xs visible-sm">Destino</label>
                        <label class="control-label pull-right visible-md visible-lg">Destino</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 form-inline">
                        <select id="ToTown" name="ToTown" class="form-control" onfocus="this.select()">
                            @Html.Raw(Model.DistrictControlOptions)
                        </select>
                        <input type="button" class="form-control btn btn-info btn-sm visible-xs pull-right" onclick="EraseValue('#ToTown')" style="width:42px" value="&#9003;" />
                        <input type="button" class="form-control btn btn-info btn-sm hidden-xs" onclick="EraseValue('#ToTown')" style="width:42px" value="&#9003;" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        @{
                            <small id="warningLabel" style="text-align:justify" class="text-warning hidden">¡No encontramos viajes según tu búsqueda pero si algunos que quizás te sirvan!</small>
                        }
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                        <button class="btn btn-info btn-sm btn-block" id="btn-retrieve-trips" style="width:240px; border-radius:25px" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Consultar Viajes" onclick="RetrieveTrips()">Consultar Viajes</button>
                        <small>@ViewBag.ExactLocationTripsNotFound</small>
                    </div>
                </div>
                @Html.Partial("~/Views/Reservations/Partials/_RequestJourney.cshtml", Model)
            </div>
            <div id="tabs-2" aria-labelledby="ui-id-16" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="false" style="display: none;">
                @Html.Partial("~/Views/Reservations/Partials/_PendingReservations.cshtml", Model)
            </div>
        </div>
    </div>
</div>

<script>
    $('#tabs').tabs();
    $('#tabPending').removeClass('ui-state-active');
    $('#FromTown').editableSelect();
    $('#ToTown').editableSelect();
    //$('#tooltipRetrieveTrips').tooltip();

    $(document).ready(function () {
        var tabIndex = @Model.TabIndex;

        $('#tabs').tabs("option", "active", tabIndex);


        var from = '@Model.From';
        var to = '@Model.To';

        if (from != '' && to != '') {

        }
    });

    function EraseValue(controlId) {
        $(controlId).val(null).trigger('change');
    }

    function RetrieveTrips() {
        $('#btnRetrieveTrips').addClass('hidden');
        $('#imgProcessing').removeClass('hidden');

        var from = $("#FromTown").val();
        var to = $("#ToTown").val();

        if (from == '') {
            displayMessages('¡Seleccione el origen!', 'warning')

            return;
        } else if (to == '') {
            displayMessages('¡Seleccione el destino!', 'warning')

            return;
        } else if (from == to) {
            displayMessages('¡Origen y destino iguales!', 'warning')

            return;
        }

        $('#btn-retrieve-trips').button('loading');

        $.post('@Url.Action("Transportation", "Reservations")', { from: from, to: to },
            function (data) {
                $('#btn-retrieve-trips').button('reset');

                var json = JSON.parse(data);

                $('#RequestJourneyContainer').html(json.Html);

                $('#btnRetrieveTrips').removeClass('hidden');
                $('#imgProcessing').addClass('hidden');

                //var tripsCount = $('#TripsCount').html();
                if (json.CouldNotFindExactTrip) {
                    $('#warningLabel').removeClass('hidden');
                } else {
                    $('#warningLabel').addClass('hidden');
                }

                if (json.Message != null && json.Message != '') {
                    displayMessages(json.Message, 'warning')
                }
            });
    }
</script>

<link href="~/fonts/fullcalendar-3.10.0/fullcalendar.min.css" rel="stylesheet" />
<script src="~/fonts/fullcalendar-3.10.0/moment.min.js"></script>
<script src="~/fonts/fullcalendar-3.10.0/fullcalendar.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        $.connection.hub.start();
        $.connection.hub.qs = "myInfo=12345";
        var chat = $.connection.SignalHandlerHub;
        chat.client.broadcastMessage = function (name, message) {
            if (name == "TripCreated" || name == "TripDeleted") {
                RetrieveTrips()
            }
        };
        $.connection.hub.start().done(function () {
        });
    });
</script>
