@model CarpoolingCR.Objects.Responses.DriverTripHistorialResponse
@{
    ViewBag.Title = "LoadDriverTripHistorial";
}


@{
    if (Model.Trips.ToList().Count == 0)
    { <div class="row form-group" style="text-align:center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                ¡No se encontraron viajes!
            </div>
        </div>
    }
    else
    {
        foreach (var trip in Model.Trips)
        {
            var from = trip.FromTown.FullName;
            var to = trip.ToTown.FullName;
            var route = trip.Route.FullName;

            <div class="row container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default" style="border-radius:10px; padding-top:15px">
                    <div class="row form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div id="profile-container-small" data-toggle="tooltip" title="Conductor">
                                <img id="profileImage" src="@Url.Content(trip.ApplicationUser.Picture)" />
                            </div>
                            <label class="control-label driver"><span class="fas fa-user">&nbsp;</span></label><small>@trip.ApplicationUser.FullName</small><br />
                            <label class="control-label from"><span class="fas fa-map-marker-alt">&nbsp;</span>Origen: </label><small>@from</small><br />
                            <label class="control-label route"><span class="fas fa-route">&nbsp;</span>Ruta: </label><small>@route</small><br />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label hidden-xs"></label><small></small><br class="hidden-xs" />
                            <label class="control-label hidden-xs"></label><small></small><br class="hidden-xs" />
                            <label class="control-label hidden-xs"></label><small></small><br class="hidden-xs" />
                            <label class="control-label to"><span class="fas fa-map-marker-alt">&nbsp;</span>Destino: </label><small>@to</small><br />
                            <label class="control-label date"><span class="fas fa-calendar-alt">&nbsp;</span>Fecha: </label><small>@trip.DateTime.ToString("dd/MM/yyyy hh:mm tt")</small>
                        </div>
                    </div>
                    <div class="row form-group" style="padding:0px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px">
                            <hr style="padding:0px; height:1px" />
                        </div>
                    </div>
                    @{
                        if (trip.Reservations.Count == 0)
                        {
                            <div class="row form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <small>¡No hubo reservaciones para este viaje!</small>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row form-group" style="padding:0px">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                    <label class="control-label from"><span class="fas fa-user">&nbsp;</span>Pasajeros: </label>
                                    <hr />
                                </div>
                            </div>
                            foreach (var reservation in trip.Reservations)
                            {
                                <div class="row form-group">
                                    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                        <div id="profile-container-small" data-toggle="tooltip" title="Pasajero">
                                            <img id="profileImage" src="@Url.Content(reservation.ApplicationUser.Picture)" />
                                        </div>
                                        <small>@reservation.ApplicationUser.FullName</small><br />
                                    </div>

                                    @{
                                        var qualification = trip.Qualifications.Where(x => x.ReservationId == reservation.ReservationId).SingleOrDefault();

                                        if (qualification != null)
                                        {
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5" style="padding:0px">
                                                @{
                                                    switch (qualification.Starts)
                                                    {
                                                        case 1:
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star2" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star3" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star4" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star5" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                            break;
                                                        case 2:
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star3" class="fa fa-star" data-toggle="Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star4" class="fa fa-star" data-toggle="Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star5" class="fa fa-star" data-toggle="Malo"></span></a>
                                                            break;
                                                        case 3:
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                            break;
                                                        case 4:
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                                            break;
                                                        case 5:
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star1" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star2" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star3" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star4" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            break;
                                                    }
                                                }
                                                <br />
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-4" style="padding:0px">
                                                @{
                                                    if (qualification == null)
                                                    {
                                                        <small class="text-warning">¡@reservation.ApplicationUser.FullName no te ha calificado!</small>
                                                    }
                                                    else
                                                    {
                                                        <small>@qualification.Comments</small>
                                                    }

                                                    if (!reservation.IsPassengerQualified)
                                                    {
                                                        <input type="button" class="btn btn-info pull-right" value="Calificar" onclick="PopUpQualifyModal(@reservation.ReservationId, null, '@reservation.ApplicationUser.FullName','#historial-container')" />
                                                    }
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                @{
                                                    if (qualification == null)
                                                    {
                                                        <small class="text-warning">¡@reservation.ApplicationUser.FullName no te ha calificado!</small>
                                                    }
                                                    else
                                                    {
                                                        <small>@qualification.Comments</small>
                                                    }

                                                    if (!reservation.IsPassengerQualified)
                                                    {
                                                        <br class="visible-xs" />
                                                        <input type="button" class="btn btn-info pull-right" value="Calificar" onclick="PopUpQualifyModal(@reservation.ReservationId, null, '@reservation.ApplicationUser.FullName','#historial-container')" />
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        }
    }
}
