@model IEnumerable<CarpoolingCR.Models.RideRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Solicitud de viaje</h2>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<p>
    @Html.ActionLink("Menú Principal", "ValidateUserRol", "UserRols", new { }, new { @class = "btn btn-info " })
    @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn btn-primary pull-right" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayPart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedSpaces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayPart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedSpaces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RideRequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RideRequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RideRequestId })
        </td>
    </tr>
}

</table>
