@model IEnumerable<CarpoolingCR.Models.Bank>

@{
    ViewBag.Title = "Index";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<h2>Bancos</h2>

<div id="banks">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
            <input class="search form-control" style="border-radius:25px" placeholder="Búsqueda" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1 col-xs-1">
            <a class="btn btn-primary pull-right" href="/Banks/Create" style="border-radius:25px">Crear</a>
        </div>
    </div>
    <br />
    @{
        if (Model.ToList().Count == 0)
        {
            <div class="row">
                <div class="row form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p style="align-content:center">No se encontraror bancos</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                </div>
            </div>
        }
        else
        {
            <ul class="list">
                @{
                    foreach (var item in Model)
                    {
                        <div class="row">
                            <li>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-6">
                                    <small><label class="control-label bank">@item.BankName</label></small>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 pull-right">
                                    @Html.ActionLink("...", "Edit", new { id = item.BankId }, new { @class = "btn btn-info" })
                                    <input type="button" class="btn btn-danger" onclick="ConfirmDelete(@item.BankId, '@item.BankName')" value="X" />
                                </div>
                            </li>
                        </div>
                        <hr />
                    }
                }
            </ul>
        }
    }
</div>
<div class="modal fade" id="confirmBankDelete" tabindex="-1" role="dialog" aria-labelledby="bankModalLabel" aria-hidden="true">
    <form action="/Banks/Delete/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="bankModalLabel">Eliminación de Bancos</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="bankId" name="bankId" class="hidden" />
                        <p id="deleteText">Está seguro que desea eliminar xxxxx?</p>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                            <input type="submit" class="btn btn-danger" value="Eliminar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script language="javascript">
    var options = {
        valueNames: ['bank']
    };

    var userList = new List('banks', options);

    function ConfirmDelete(id, name) {
        $('#deleteText').html('¿Está seguro que desea eliminar ' + name + '?')
        $('#bankId').val(id);

        $("#confirmBankDelete").modal();
    }
</script>

