@model IEnumerable<CarpoolingCR.Models.Locations.Country>

@{
    ViewBag.Title = "Index";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div id="countries">
    <br />
    <div class="row form-group" style="text-align:center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h5 class="panel-title pull-left">Países</h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a class="btn btn-info btn-sm btn-block custom-spin-button pull-right" href="~/Countries/Create" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Crear Países" style="width:150px">Crear Países</a>
        </div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr />
        </div>
    </div>
    <ul class="list" style="list-style:none">
        @{
            foreach (var item in Model)
            {
                <div class="row">
                    <li>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-6">
                            <h6 class="country">@item.Name</h6>
                            <small class="status">@item.Status</small>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 pull-right">
                            @Html.ActionLink("Actualizar", "Edit", new { id = item.CountryId }, new { @class = "btn btn-info btn-sm" })
                            <input type="button" class="btn btn-danger btn-sm" onclick="ConfirmDelete(@item.CountryId, '@item.Name')" value="Borrar" />
                        </div>
                    </li>
                </div>
            }
        }
    </ul>
</div>

<div class="modal fade" id="confirmCountryDelete" tabindex="-1" role="dialog" aria-labelledby="dayTripModalLabel" aria-hidden="true">
    <form action="~/Countries/Delete/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="dayTripModalLabel">Eliminación de Países</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="countryId" name="countryId" class="hidden" />
                        <p id="deleteText">Está seguro que desea eliminar xxxxx?</p>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                            <input type="submit" class="btn btn-danger" value="Eliminar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script language="javascript">
    var options = {
        valueNames: ['country', 'status']
    };

    var userList = new List('countries', options);

    function ConfirmDelete(id, name) {
        $('#deleteText').html('¿Está seguro que desea eliminar ' + name + '?')
        $('#countryId').val(id);

        $("#confirmCountryDelete").modal();
    }
</script>
