@model IEnumerable<CarpoolingCR.Models.Locations.Country>

@{
    ViewBag.Title = "Index";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<h2>Países</h2>

<div id="countries">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
            <input class="search form-control" style="border-radius:25px" placeholder="Búsqueda" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1 col-xs-1">
            <a class="btn btn-primary pull-right" href="/Countries/Create" style="border-radius:25px">Crear</a>
        </div>
    </div>
    <br />

    <ul class="list">
        @{
            foreach (var item in Model)
            {
                <div class="row">
                    <li>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-6">
                            <h4 class="country">@item.Name</h4>
                            <small class="status">@item.Status</small>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            @Html.ActionLink("...", "Edit", new { id = item.CountryId }, new { @class = "btn btn-info" })
                            <input type="button" class="btn btn-danger" onclick="ConfirmDelete(@item.CountryId, '@item.Name')" value="X" />
                        </div>
                    </li>
                </div>
            }
        }
    </ul>
</div>

<div class="modal fade" id="confirmCountryDelete" tabindex="-1" role="dialog" aria-labelledby="dayTripModalLabel" aria-hidden="true">
    <form action="/Countries/Delete/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="dayTripModalLabel">Eliminación de Países</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="countryId" name="countryId" class="hidden" />
                        <p id="deleteText">Está seguro que desea eliminar xxxxx?</p>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                            <input type="submit" class="btn btn-danger" value="Eliminar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script language="javascript">
    var options = {
        valueNames: ['country', 'status']
    };

    var userList = new List('countries', options);

    function ConfirmDelete(id, name) {
        $('#deleteText').html('¿Está seguro que desea eliminar ' + name + '?')
        $('#countryId').val(id);

        $("#confirmCountryDelete").modal();
    }
</script>
