@model CarpoolingCR.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />

<div class="row form-group">
    <div id="profileAccountContainer">
        @Html.Raw(Model.ProfileHtml)
    </div>

    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Información Bancaria</label>
                    <hr />
                </div>
            </div>

            @{
                if (Model.User.BankAccountId == null)
                {
                    <p>Información bancaria no registrada!   @Html.ActionLink("Regístrela Aquí", "Index", "BankAccounts", new { }, new { @class = "" })</p>
                    <p>[Funcionalidad disponible próximamente]</p>
                }
                else
                {
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
                            <label class="control-label pull-right">Banco</label>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                            @Html.DropDownList("BankId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.User.BankAccount.BankId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
                            <label class="control-label pull-right">Cuenta de Ahorros</label>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                            @Html.DropDownList("BankId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.User.BankAccount.SavingsAccount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
                            <label class="control-label pull-right">Sinpe</label>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                            @Html.DropDownList("BankId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.User.BankAccount.Sinpe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            }

            <hr />
            <div class="row form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Información Financiera</label>
                    <hr />
                    @{
                        if (Model.User.MonthlyBalance == null)
                        {
                            <p>No se encontró el balance mensual actual. Contacte al administrador!</p>
                            <p>[Funcionalidad disponible próximamente]</p>
                        }
                        else
                        {
                            <p><label class="control-label">Período: </label> @Model.User.MonthlyBalance.Month - Model.User.MonthlyBalance.Year</p>
                            <label class="control-label">Balance: </label> @ViewBag.Balance
                        }
                    }
                </div>
            </div>
        </div>*@
</div>



<div>
    <dl class="dl-horizontal">
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Actualizar contraseña", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>

<script>
    function SaveProfileInfo(picture) {
        $.post('@Url.Action("ProfileInfo","Manage")', { name: $('#Name').val(), lastName: $('#LastName').val(), secLastName: $('#SecondLastName').val(), phone1: $('#Phone1').val(), phone2: $('#Phone2').val(), picture: picture },
            function (data) {
                var json = JSON.stringify(data);

                $('#profileAccountContainer').html(JSON.parse(json));

                var message = $('#message').val();
                var type = $('#messageType').val();

                if (message != '') {
                    displayMessages(message, type);
                }
            });
    }
</script>
