@model CarpoolingCR.Models.ApplicationUser

@{
    ViewBag.Title = "BankInfo";
}

@*@using (Html.BeginForm("BankInfo", "Manage", FormMethod.Post, new { }))
    {*@
<form action="~/Manage/ProfileInfo" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" id="message" value="@Model.Message" />
    <input type="hidden" id="messageType" value="@Model.MessageType" />

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row form-group">
            <div class="row form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                    <h3>Perfíl de Usuario</h3>
                    <div class="row">
                        <div class="col-md-3 bg">
                            <div class="loader" id="loader-2">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 center-block">
                    <label id="SelectedPicture" name="SelectedPicture" class="hidden"></label>
                    <div id="profile-container" class="center-block" data-toggle="tooltip" title="¡Actualiza tu foto de perfíl!">
                        <img id="profileImage" src="@Url.Content(Model.Picture)" />
                    </div>
                    <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" accept="image/*">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 style="text-align:center">
                        @{
                            var stars = Model.Stars;

                            switch (stars)
                            {
                                case 1:
                                    <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star2" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star3" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star4" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star5" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                    break;
                                case 2:
                                    <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star3" class="fa fa-star" data-toggle="Malo"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star4" class="fa fa-star" data-toggle="Malo"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star5" class="fa fa-star" data-toggle="Malo"></span></a>
                                    break;
                                case 3:
                                    <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Bueno"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Bueno"></span></a>
                                    break;
                                case 4:
                                    <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                    break;
                                case 5:
                                    <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star1" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star2" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star3" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star4" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                    <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                    break;
                                case -1:
                                    <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star1" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                    <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star2" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                    <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star3" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                    <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star4" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                    <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star5" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                    break;
                            }
                        }
                        </h3>
                        <hr />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">Correo Electrónico</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Correo Electrónico", @readonly = "readonly" })
                </div>
                <div class="col-lg-4 col-md-2 col-sm-2 col-xs-0">

                </div>
            </div>

            @{
                if (string.IsNullOrEmpty(Model.UserIdentification))
                {
                    <div class="panel panel-danger" style="padding:10px; border-radius:10px">
                        <h5 class="text-danger"><b><u>Verifica tu número de cédula</u></b></h5>
                        <h6 style="text-align:justify" class="text-danger">
                            Ingresa tu número de cédula y da click en el botón "Actualizar" abajo. Tu número de cédula será revisado y verificado por buscoridecr.com contra la bases de datos del TSE. De no concordar con el nombre provisto o de no existir el número de cédula, ésta será invalidada
                            y deberá corregirla nuevamente para su revalidación.
                        </h6>

                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Cédula</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                @{
                                    var classStr = "";

                                    if (!Model.IsUserIdentificationVerified)
                                    {
                                        if (string.IsNullOrEmpty(Model.UserIdentification))
                                        {
                                            classStr = "has-error";
                                        }
                                        else
                                        {
                                            classStr = "has-warning";
                                        }
                                    }
                                }
                                <div class="input-group btn-block @classStr">
                                    @{
                                        if (Model.IsUserIdentificationVerified)
                                        {
                                            @Html.TextBoxFor(m => m.UserIdentification, new { @class = "form-control", @placeholder = "Cédula", @readonly = "readonly", @style = "width:80%" })
                                            <div id="user-identification-tooltip-button">
                                                <button onclick="return false" class="btn btn-info pull-left" style="border-radius:0px 10px 10px 0px" aria-label="Help"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="¡Número de cédula verificado!"></span></button>
                                            </div>
                                        }
                                        else
                                        {
                                            if (string.IsNullOrEmpty(Model.UserIdentification))
                                            {
                                                @Html.TextBoxFor(m => m.UserIdentification, new { @class = "form-control", @placeholder = "Cédula", @style = "width:80%" })
                                                <div id="user-identification-tooltip-button" class="form-group">
                                                    <button onclick="return false" class="btn btn-danger pull-left" style="border-radius:0px 10px 10px 0px" aria-label="Help"><span class="glyphicon glyphicon-alert" data-toggle="tooltip" title="¡El número de cédula debe ser provisto!"></span></button>
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.UserIdentification, new { @class = "form-control", @placeholder = "Cédula", @style = "width:80%" })
                                                <div id="user-identification-tooltip-button">
                                                    <button onclick="return false" class="btn btn-warning pull-left" style="border-radius:0px 10px 10px 0px" aria-label="Help"><span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="¡El número de cédula se encuentra en período de verificación!"></span></button>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Cédula</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            @{
                                var classStr = "";

                                if (!Model.IsUserIdentificationVerified)
                                {
                                    if (string.IsNullOrEmpty(Model.UserIdentification))
                                    {
                                        classStr = "has-error";
                                    }
                                    else
                                    {
                                        classStr = "has-warning";
                                    }
                                }
                            }
                            <div class="input-group btn-block @classStr">
                                @{
                                    if (Model.IsUserIdentificationVerified)
                                    {
                                        @Html.TextBoxFor(m => m.UserIdentification, new { @class = "form-control", @placeholder = "Cédula", @readonly = "readonly", @style = "width:80%" })
                                        <div id="user-identification-tooltip-button">
                                            <button onclick="return false" class="btn btn-info pull-left" style="border-radius:0px 10px 10px 0px" aria-label="Help"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="¡Número de cédula verificado!"></span></button>
                                        </div>
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(Model.UserIdentification))
                                        {
                                            @Html.TextBoxFor(m => m.UserIdentification, new { @class = "form-control", @placeholder = "Cédula", @style = "width:80%" })
                                            <div id="user-identification-tooltip-button" class="form-group">
                                                <button onclick="return false" class="btn btn-danger pull-left" style="border-radius:0px 10px 10px 0px" aria-label="Help"><span class="glyphicon glyphicon-alert" data-toggle="tooltip" title="¡El número de cédula debe ser provisto!"></span></button>
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(m => m.UserIdentification, new { @class = "form-control", @placeholder = "Cédula", @style = "width:80%" })
                                            <div id="user-identification-tooltip-button">
                                                <button onclick="return false" class="btn btn-warning pull-left" style="border-radius:0px 10px 10px 0px" aria-label="Help"><span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="¡El número de cédula se encuentra en período de verificación!"></span></button>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                }
            }
            <div class="row form-group">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">Nombre</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Nombre" })
                </div>
                <div class="col-lg-4 col-md-2 col-sm-2 col-xs-0">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">Primer Apellido</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Primer Apellido" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">Segundo Apellido</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.SecondLastName, new { @class = "form-control", @placeholder = "Segundo Apellido" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
            </div>
            <div id="mobile-container">
                @{
                    if (!Model.IsPhoneVerified)
                    {
                        <div class="panel panel-danger" style="padding:10px; border-radius:10px">
                            <h5 class="text-danger"><b><u>Verifica tu número de celular</u></b></h5>
                            <h6 style="text-align:justify" class="text-danger">
                                Da click en el botón "Enviar código de verificación" para enviar un código de 6 dígitos por mensaje de texto a tu número celular provisto. Esto habilitará un campo de texto para ingresar dicho código, ingrésalo
                                ahí y da click en el botón "Confirmar código de verificación"
                            </h6>

                            <div class="row form-group">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">Celular</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="input-group btn-block has-error">
                                        @Html.TextBoxFor(m => m.Phone1, new { @class = "form-control", @placeholder = "####-####", @style = "width:80%" })
                                        <div id="information-type-tooltip-button">
                                            <button onclick="return false" class="btn btn-danger pull-left" style="border-radius:0px 10px 10px 0px" aria-label="Help"><span class="glyphicon glyphicon-alert" data-toggle="tooltip" title="¡El número de celular debe ser verificado!"></span></button>
                                        </div>
                                    </div>
                                    <div id="send-verification-code-container">
                                        <br />
                                        <input type="button" id="send-verification-code-btn" class="btn btn-info btn-sm" value="Enviar código de verificación" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                                </div>
                            </div>
                            <div id="verification-code-container" class="row form-group">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label">Ingresa el código de Verificación</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="input-group btn-block">
                                        <input type="text" class="form-control" placeholder="######" style="border-radius:10px 10px 10px 10px" id="verificationCode" name="verificationCode" />
                                        <br /><br /><br />
                                        <input type="button" id="confirm-verification-code-btn" style="border-radius:10px 0px 0px 10px" class="btn btn-info btn-sm" value="Confirmar código de verificación" />
                                        <button type="button" class="btn btn-info btn-sm" aria-label="Help" style="border-radius:0px 10px 10px 0px"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="¡Ingresa el código de verificación enviado a tu celular y da clic en 'Confirmar código de verificación'!"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Celular</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="input-group btn-block">
                                    @Html.TextBoxFor(m => m.Phone1, new { @class = "form-control", @placeholder = "####-####", @style = "width:80%" })
                                    <div id="information-type-tooltip-button">
                                        <button onclick="return false" class="btn btn-info pull-left" style="border-radius:0px 10px 10px 0px" aria-label="Help"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="¡Número de celular verificado!"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row form-group">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">Teléfono</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.Phone2, new { @class = "form-control", @placeholder = "####-####" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">Tipo de Usuario</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.UserType, new { @class = "form-control", @placeholder = "Tipo de Usuario", @disabled = "disabled" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">Estado</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @placeholder = "Estado", @disabled = "disabled" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label class="control-label">¿Correo Confirmado?</label>
                    @{
                        if (Model.EmailConfirmed)
                        {
                            <input type="checkbox" class="disabled" onclick="return false;" checked />
                        }
                        else
                        {
                            <input type="checkbox" class="disabled" onclick="return false;" />
                        }
                    }
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                </div>
            </div>
            @*@{
                    if (string.IsNullOrEmpty(Model.UserIdentification))
                    {
                        <div class="row form-group" style="text-align:justify">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-warning">
                                <small>*** El número de cédula será revisado y verificado contra la bases de datos del TSE. De no concordar con el nombre provisto o de no existir el número de cédula, ésta será invalidada y deberá ingresarla nuevamente para su validación.</small>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                            </div>
                        </div>
                    }
                }*@
            @{
                if ((Model.UserType == CarpoolingCR.Utils.Enums.UserType.Conductor) || (Model.UserType == CarpoolingCR.Utils.Enums.UserType.Administrador))
                {
                    <hr />
                    <div class="row form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                            <h3>Información del Vehículo</h3>
                        </div>
                    </div>

                    if (Model.Vehicle == null)
                    {
                        <div class="row form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                                <small style="color:red">¡Información del vehículo requerida!"</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Marca</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                @Html.DropDownList("BrandId", (SelectList)ViewBag.BrandId.Items, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Modelo</label>
                            </div>
                            <div id="modelContainer" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <select id="Model" name="Model" class="form-control" disabled></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Placa</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control" id="Plate" name="Plate" placeholder="Placa" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Color</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control" id="Color" name="Color" placeholder="Color" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Capacidad</label> <small>*** Incluido el conductor</small>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <input id="Capacity" name="Capacity" class="" style="width:40px;" onfocus="blur();">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Marca</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control" id="BrandId" name="BrandId">
                                    @{
                                        foreach (var brand in ViewBag.BrandId.Items.Items)
                                        {
                                            if (brand.BrandId == Model.Vehicle.BrandId)
                                            {
                                                <option value="@brand.BrandId" selected>@brand.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@brand.BrandId">@brand.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Modelo</label>
                            </div>
                            <div id="modelContainer" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                @{
                                    if (ViewBag.ModelId != null)
                                    {
                                        <select class="form-control" id="Model" name="Model">
                                            @{ foreach (var mdl in ViewBag.ModelId.Items)
                                                {
                                                    if (mdl.ModelId == Model.Vehicle.ModelId)
                                                    {
                                                        <option value="@mdl.ModelId" selected>@mdl.Description</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@mdl.ModelId">@mdl.Description</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control" id="Model" name="Model" disabled></select>
                                    }
                                }
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Placa</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control" id="Plate" name="Plate" placeholder="Placa" value="@Model.Vehicle.Plate" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Color</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control" id="Color" name="Color" placeholder="Color" value="@Model.Vehicle.Color" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">Capacidad</label> <small>*** Incluido el conductor</small>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <input id="Capacity" name="Capacity" class="" style="width:40px;" onfocus="blur();" value="@Model.Vehicle.Spaces">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                            </div>
                        </div>
                    }
                }
            }

            <div class="row form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="submit" class="btn btn-info center-block" value="Actualizar" />
                </div>
            </div>
        </div>
</form>

<script>
    $('#verification-code-container').slideUp(1);
    $('#send-verification-code-btn').click(function () {
        SendVerificationCode();
    });

    $('#confirm-verification-code-btn').click(function () {
        ConfirmVerificationCode();
    });

    $(document).ready(function () {
        SetRandomImage();

        @{
            var spacesValue = 1;

            if (Model.Vehicle != null)
            {
                spacesValue = Model.Vehicle.Spaces;
            }
        }
    });

    $("#profileImage").click(function (e) {
        $("#imageUpload").click();
    });

    $("#Plate").keyup(function () {
        this.value=this.value.toUpperCase();
    });

    function fasterPreview(uploader) {
        if (uploader.files && uploader.files[0]) {
            $('#profileImage').attr('src', window.URL.createObjectURL(uploader.files[0]));

            $('#SelectedPicture').val(uploader.files[0]);
        }
    }

    $("#imageUpload").change(function () {
        fasterPreview(this);
    });

    $('#Capacity').spinner({
        min: 1,
        max: 5
    }).val(@spacesValue);

    $('#BrandId')
        .editableSelect()
        .on('select.editable-select', function (e, li) {
            $('#last-selected').html(
                BrandChange(li.val())
            );
        });

    $('#Model').editableSelect();

    function BrandChange(currentBrandId) {
        var brands = JSON.parse(@Html.Raw(Json.Encode(@ViewBag.BrandJson)));
        var html = '<select id="Model" name="Model" class="form-control">';

        for (i = 0; i < brands.length; i++) {
            if (brands[i].BrandId == currentBrandId) {
                for (y = 0; y < brands[i].Models.length; y++) {
                    var modelId = brands[i].Models[y].ModelId;
                    var modelDesc = brands[i].Models[y].Description;

                    html += '<option value="' + modelId + '">' + modelDesc + '</option>';
                }

                html += '</select>';

                $('#modelContainer').html(html);
                $('#Model').editableSelect();
                break;
            }
        }
    }

    function SendVerificationCode() {
        $.post('@Url.Action("SendMobileVerificationCode", "Manage")', { unneededParam: ''},
            function (data) {
                ////¡Código de verificación enviado!
                if (data == '100042') {
                    DisplayGrowlMessage(data, 'success');

                    $('#send-verification-code-container').slideUp();
                    $('#verification-code-container').slideDown();
                } else {
                    DisplayGrowlMessage(data, 'error');
                }
            });
    }

    function ConfirmVerificationCode() {
        var verificationCode = $('#verificationCode').val();

        if (verificationCode == '') {
            //¡Código de verificación requerido!
            DisplayGrowlMessage('100044', 'warn');

            return;
        } else {
            if (verificationCode.length < 6) {
                //¡El código de verificación debe ser de 6 dígitos!
                DisplayGrowlMessage('100045', 'warn');

                return;
            }
        }

        $.post('@Url.Action("ConfirmMobileVerificationCode", "Manage")', { verificationCode: verificationCode },
            function (data) {
                if (data == 'true') {
                    //¡Su número de celular ha sido confimado!
                    DisplayGrowlMessage('100046', 'success');

                    $('#send-verification-code-container').slideUp();
                    $('#verification-code-container').slideUp();

                    var mobileHtml = "<div class=\"row form-group\">";
                    mobileHtml += "<div class=\"col-lg-2 col-md-2 col-sm-2 col-xs-0\">";
                    mobileHtml += "</div>";
                    mobileHtml += "<div class=\"col-lg-4 col-md-4 col-sm-4 col-xs-12\">";
                    mobileHtml += "<label class=\"control-label\">Celular</label>";
                    mobileHtml += "</div>";
                    mobileHtml += "<div class=\"col-lg-4 col-md-4 col-sm-4 col-xs-12\">";
                    mobileHtml += "<div class=\"input-group btn-block\">";
                    mobileHtml += "<input class=\"form-control\" id=\"UserIdentification\" name=\"UserIdentification\" placeholder=\"Cédula\" type=\"text\" style=\"width:80%\" value=\"@Model.UserIdentification\">";
                    mobileHtml += "<div id=\"information-type-tooltip-button\">";
                    mobileHtml += "<button onclick=\"return false\" class=\"btn btn-info pull-left\" style=\"border-radius: 0px 10px 10px 0px\" aria-label=\"Help\"><span class=\"glyphicon glyphicon-info-sign\" data-toggle=\"tooltip\" title=\"¡Número de celular verificado!\"></span></button>";
                    mobileHtml += "</div>";
                    mobileHtml += "</div>";
                    mobileHtml += "</div>";
                    mobileHtml += "<div class=\"col-lg-2 col-md-2 col-sm-2 col-xs-0\">";
                    mobileHtml += "</div>";
                    mobileHtml += "</div>";

                    $('#mobile-container').html(mobileHtml);
                    $('#information-type-tooltip-button').html('<button onclick="return false" class="btn btn-info pull-left" style="border-radius:0px 10px 10px 0px" aria-label="Help"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="¡Número de celular verificado!"></span></button>')
                } else {
                    //¡Código de verificación incorrecto!
                    DisplayGrowlMessage('100047', 'warn');
                }
            });
    }

    $('#Phone1').mask('0000-0000');
    $('#Phone2').mask('0000-0000');
    $('#verificationCode').mask('000000');
    $('#UserIdentification').mask('000000000');
</script>
