@model CarpoolingCR.Models.ApplicationUser

@{
    ViewBag.Title = "BankInfo";
}

@*@using (Html.BeginForm("BankInfo", "Manage", FormMethod.Post, new { }))
    {*@
<form action="~/Manage/ProfileInfo" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" id="message" value="@Model.Message" />
    <input type="hidden" id="messageType" value="@Model.MessageType" />
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row form-group">
            <div class="row form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                    <h3>Perfíl de Usuario</h3>
                    <div class="row">
                        <div class="col-md-3 bg">
                            <div class="loader" id="loader-2">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 center-block">
                <label id="SelectedPicture" name="SelectedPicture" class="hidden"></label>
                <div id="profile-container" class="center-block" data-toggle="tooltip" title="¡Actualiza tu foto de perfíl!">
                    <img id="profileImage" src="@Url.Content(Model.Picture)" />
                </div>
                <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" accept="image/*">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 style="text-align:center">
                    @{
                        var stars = Model.Stars;

                        switch (stars)
                        {
                            case 1:
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star2" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star3" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star4" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star5" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                break;
                            case 2:
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star3" class="fa fa-star" data-toggle="Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star4" class="fa fa-star" data-toggle="Malo"></span></a>
                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star5" class="fa fa-star" data-toggle="Malo"></span></a>
                                break;
                            case 3:
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Bueno"></span></a>
                                break;
                            case 4:
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                break;
                            case 5:
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star1" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star2" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star3" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star4" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                break;
                            case -1:
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star1" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star2" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star3" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star4" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star5" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                break;
                        }
                    }
                </h3>
                <hr />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center-block" style="text-align:center">
                <label class="control-label">Correo Electrónico</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center-block" style="text-align:center">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Correo Electrónico", @readonly = "readonly" })
            </div>
            <div class="col-lg-4 col-md-2 col-sm-2 col-xs-0">

            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Nombre</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Nombre" })
            </div>
            <div class="col-lg-4 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Primer Apellido</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Primer Apellido" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Segundo Apellido</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.SecondLastName, new { @class = "form-control", @placeholder = "Segundo Apellido" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Teléfono #1</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Phone1, new { @class = "form-control", @placeholder = "Teléfono #1" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Teléfono #2</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Phone2, new { @class = "form-control", @placeholder = "Teléfono #2" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Tipo de Usuario</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.UserType, new { @class = "form-control", @placeholder = "Tipo de Usuario", @disabled = "disabled" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">Estado</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @placeholder = "Estado", @disabled = "disabled" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label class="control-label">¿Correo Confirmado?</label>
                @{
                    if (Model.EmailConfirmed)
                    {
                        <input type="checkbox" class="disabled" onclick="return false;" checked />
                    }
                    else
                    {
                        <input type="checkbox" class="disabled" onclick="return false;" />
                    }
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
            </div>
        </div>

        @{
            if ((Model.UserType == CarpoolingCR.Utils.Enums.UserType.Conductor) || (Model.UserType == CarpoolingCR.Utils.Enums.UserType.Administrador))
            {
                <hr />
                <div class="row form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                        <h3>Información del Vehículo</h3>
                    </div>
                </div>

                if (Model.Vehicle == null)
                {
                    <div class="row form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                            <small style="color:red">¡Información del vehículo requerida!"</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Marca</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            @Html.DropDownList("BrandId", (SelectList)ViewBag.BrandId.Items, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Modelo</label>
                        </div>
                        <div id="modelContainer" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <select id="Model" name="Model" class="form-control" disabled></select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Placa</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="text" class="form-control" id="Plate" name="Plate" placeholder="Placa" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Color</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="text" class="form-control" id="Color" name="Color" placeholder="Color" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Capacidad</label> <small>*** Incluido el conductor</small>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input id="Capacity" name="Capacity" class="" style="width:40px;" onfocus="blur();">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                }
                else
                {
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Marca</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <select class="form-control" id="BrandId" name="BrandId">
                                @{
                                    foreach (var brand in ViewBag.BrandId.Items.Items)
                                    {
                                        if (brand.BrandId == Model.Vehicle.BrandId)
                                        {
                                            <option value="@brand.BrandId" selected>@brand.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@brand.BrandId">@brand.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Modelo</label>
                        </div>
                        <div id="modelContainer" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            @{
                                if (ViewBag.ModelId != null)
                                {
                                    <select class="form-control" id="Model" name="Model">
                                        @{ foreach (var mdl in ViewBag.ModelId.Items)
                                            {
                                                if (mdl.ModelId == Model.Vehicle.ModelId)
                                                {
                                                    <option value="@mdl.ModelId" selected>@mdl.Description</option>
                                                }
                                                else
                                                {
                                                    <option value="@mdl.ModelId">@mdl.Description</option>
                                                }
                                            }
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select class="form-control" id="Model" name="Model" disabled></select>
                                }
                            }
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Placa</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="text" class="form-control" id="Plate" name="Plate" placeholder="Placa" value="@Model.Vehicle.Plate" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Color</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="text" class="form-control" id="Color" name="Color" placeholder="Color" value="@Model.Vehicle.Color" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Capacidad</label> <small>*** Incluido el conductor</small>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input id="Capacity" name="Capacity" class="" style="width:40px;" onfocus="blur();" value="@Model.Vehicle.Spaces">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                        </div>
                    </div>
                }
            }
        }

        <div class="row form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="submit" class="btn btn-info center-block" value="Actualizar" />
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        //$('[data-toggle="tooltip"]').tooltip();

        SetRandomImage();

        @{ 
            var spacesValue = 1;

            if (Model.Vehicle != null)
            {
                spacesValue = Model.Vehicle.Spaces;
            }
        }
    });

    $("#profileImage").click(function (e) {
        $("#imageUpload").click();
    });

    $("#Plate").keyup(function () {
        this.value=this.value.toUpperCase();
    });

    function fasterPreview(uploader) {
        if (uploader.files && uploader.files[0]) {
            $('#profileImage').attr('src', window.URL.createObjectURL(uploader.files[0]));

            $('#SelectedPicture').val(uploader.files[0]);
        }
    }

    $("#imageUpload").change(function () {
        fasterPreview(this);
    });

    $('#Capacity').spinner({
        min: 1,
        max: 7
    }).val(@spacesValue);

    $('#BrandId')
        .editableSelect()
        .on('select.editable-select', function (e, li) {
            $('#last-selected').html(
                BrandChange(li.val())
            );
        });

    $('#Model').editableSelect();

    function BrandChange(currentBrandId) {
        var brands = JSON.parse(@Html.Raw(Json.Encode(@ViewBag.BrandJson)));
        var html = '<select id="Model" name="Model" class="form-control">';

        for (i = 0; i < brands.length; i++) {
            if (brands[i].BrandId == currentBrandId) {
                for (y = 0; y < brands[i].Models.length; y++) {
                    var modelId = brands[i].Models[y].ModelId;
                    var modelDesc = brands[i].Models[y].Description;

                    html += '<option value="' + modelId + '">' + modelDesc + '</option>';
                }

                html += '</select>';

                $('#modelContainer').html(html);
                $('#Model').editableSelect();
                break;
            }
        }
    }
</script>
