@model IEnumerable<CarpoolingCR.Models.Log>

@{
    ViewBag.Title = "Index";
}

<h2>Logs</h2>
<meta name="viewport" content="width=device-width, user-scalable=no">

<div id="logs">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-form-label-sm col-xs-12">
            <input class="search form-control" style="border-radius:25px" placeholder="Búsqueda" />
        </div>
    </div>
    <br />

    @{
        if (Model.ToList().Count == 0)
        {
            <div class="row">
                <div class="row form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p style="align-content:center">No se encontraror logs creados</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                </div>
            </div>
        }
        else
        {
            <ul class="list">
                @{
                    foreach (var item in Model)
                    {
                        <li>
                            <p><h4 class="datetime">@item.Timestamp</h4></p>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <small class="logtype">Tipo: @item.LogType</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <small class="location"><b>Localización: </b>@item.Location</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <small class="method"><b>Método: </b>@item.Method</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <small class="line"><b>Línea: </b>@item.Line</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <small class="log"><b>Log: </b>@item.Message</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <small class="fields"><b>Fields: </b>@item.Fields</small>
                                </div>
                            </div>
                            <hr />
                        </li>
                    }
                }
            </ul>
        }
    }
</div>

<script language="javascript">
    var options = {
        valueNames: ['datetime', 'logtype', 'location', 'method', 'line', 'log', 'fields']
    };

    var userList = new List('logs', options);

    function ConfirmDelete(id, name) {
        $('#deleteText').html('¿Está seguro que desea eliminar ' + name + '?')
        $('#tripId').val(id);

        $("#confirmTripDelete").modal();
    }
</script>