@using CarpoolingCR.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>Inicia Sesión.</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="submit" value="Iniciar Sesión" class="btn btn-default" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <p>
                            @Html.ActionLink("Regístrate", "Register")
                        </p>
                        <p>
                            @Html.ActionLink("Olvidaste tu clave?", "ForgotPassword")
                        </p>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @if (ViewBag.EmailNotConfirmed != null)
            {
                <p class="alert-danger">
                    @ViewBag.EmailNotConfirmed
                </p>
            }
            else
            {
                if (ViewBag.StatusMessage != null)
                {
                    <p class="alert-success">@ViewBag.StatusMessage</p>
                }
            }
        </div>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}