@model ICollection<CarpoolingCR.Models.ApplicationUser>

@{
    ViewBag.Title = "ManageUsers";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<br />
<div id="users">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
            <input type="button" class="search form-control" placeholder="Usuarios" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1 col-xs-1">

        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <b class="pull-right">Usuarios: @Model.Count</b>
        </div>
    </div>
    <ul class="list" style="list-style:none">
        @{
            foreach (var item in Model)
            {
                <li>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <label class="control-label passenger">@item.Name @item.LastName</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <small class="status">
                                @{
                                    var description = CarpoolingCR.Utils.EnumHelper<CarpoolingCR.Utils.Enums.ProfileStatus>.GetDisplayValue(item.Status);
                                    <b>Estado:</b> @description
                                }
                            </small>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <small>@item.Country.Name</small>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <small class="email"><b>Correo:</b> @item.Email</small>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <small class="email"><b>¿Confirmado?:</b><input type="checkbox" checked="@item.EmailConfirmed" disabled /></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <small class="usertype"><b>Tipo de Usuario:</b> @item.UserType</small>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            @{
                                var claims = (System.Security.Claims.ClaimsIdentity)User.Identity;
                                var value = string.Empty;
                                var obj = claims.FindFirst("CountryCode");

                                if (obj != null)
                                {
                                    value = obj.Value;
                                }

                                <small class="phones">
                                    <b>Contacto: </b><br /><a href="tel: @value @item.Phone1" style="color:blue"> @value @item.Phone1 </a>

                                    @if (!string.IsNullOrEmpty(item.Phone2))
                                    {
                                        <br />
                                        <a href="tel: @value @item.Phone2" style="color:blue"> @value @item.Phone2 </a>
                                    }
                                </small>
                            }

                            @Html.ActionLink("Eliminar", "EditUser", new { id = item.Id }, new { @class = "btn btn-danger btn-sm pull-right", @disabled = "disabled" })
                            @Html.ActionLink("Editar", "DeleteUser", new { id = item.Id }, new { @class = "btn btn-info btn-sm pull-right" })
                        </div>
                    </div>
                    <hr />
                </li>
            }
        }
    </ul>
</div>

<script language="javascript">
    var options = {
        valueNames: ['passenger', 'email', 'country', 'phones', 'status', 'usertype']
    };

    var userList = new List('users', options);
</script>
