@model ICollection<CarpoolingCR.Models.ApplicationUser>

@{
    ViewBag.Title = "ManageUsers";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<h2>Usuarios</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">@item.Name @item.LastName @item.SecondLastName</label>
                            <br />
                            <h6>@item.Country.Name</h6>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h6>Correo</h6>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h6>@item.Email</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h6>¿Correo Confirmado?</h6>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <input type="checkbox" checked="@item.EmailConfirmed" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h6>Tipo de Usuario:</h6>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h6>@item.UserType</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h6>Teléfonos:</h6>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h6>@item.Phone1 - @item.Phone2</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h6>Estado:</h6>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h6>@item.Status</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            @Html.ActionLink("...", "EditUser", new { id = item.Id }, new { @class = "btn btn-info pull-right" })
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            @Html.ActionLink("X", "Delete", new { id = item.Id }, new { @class = "btn btn-danger " })
                        </div>
                    </div>
                }
            </td>
        </tr>
    }

</table>