@model CarpoolingCR.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<h2>Registro de Usuarios</h2>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.TextBoxFor(m => m.UserType, new { @class = "form-control", @Value = "Pasajero", style = "display: none;" })
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <input type="text" id="registeredUserPicture" name="registeredUserPicture" class="hidden" />
    <div class="form-group">
        <label class="col-md-2 control-label">Correo</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Correo Electrónico" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">contraseña</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "contraseña" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirmación</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmación de contraseña" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">País</label>
        <div class="col-md-10">
            @{
                if (ViewBag.CountryId != null)
                {
                    @Html.DropDownList("CountryId", (SelectList)ViewBag.CountryId, htmlAttributes: new { @class = "form-control" })
                }
            }
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tipo de Usuario</label>
        <div id="radioset" role="toolbar" class="ui-controlgroup ui-controlgroup-horizontal ui-helper-clearfix col-md-10">
            <input type="radio" id="rbPassenger" name="radio" checked="checked" class="ui-checkboxradio ui-helper-hidden-accessible" onclick="SetUserType('Pasajero')"><label for="rbPassenger" style="border-radius:25px" class="ui-button ui-widget ui-checkboxradio-radio-label ui-controlgroup-item ui-checkboxradio-label ui-corner-left"><span class="ui-checkboxradio-icon ui-corner-all ui-icon ui-icon-background ui-icon-blank"></span><span class="ui-checkboxradio-icon-space"> </span>Pasajero</label>
            <input type="radio" id="rbDriver" name="radio" class="ui-checkboxradio ui-helper-hidden-accessible" onclick="SetUserType('Conductor')"><label for="rbDriver" style="border-radius:25px" class="ui-button ui-widget ui-checkboxradio-radio-label ui-checkboxradio-checked ui-state-active ui-checkboxradio-label ui-controlgroup-item"><span class="ui-checkboxradio-icon ui-corner-all ui-icon ui-icon-background ui-icon-blank ui-state-hover"></span><span class="ui-checkboxradio-icon-space"> </span>Conductor</label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Nombre" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Primer Apellido" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SecondLastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SecondLastName, new { @class = "form-control", placeholder = "Segundo Apellido" })
        </div>
    </div>
    <div class="form-group">
        @*todo*@
        @Html.LabelFor(m => m.Phone1, new { @class = "col-md-2 control-label" })@*<a href="#" data-toggle="tooltip" class="btn btn-xs btn-default" style="border-radius:10px" title="El teléfono será punto principal de contacto con las personas en una reserva de viaje">?</a>*@
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone1, new { @class = "form-control", placeholder = "####-####" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone2, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone2, new { @class = "form-control", placeholder = "####-####" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Registrar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        var image = SetRandomImage();

        $('#registeredUserPicture').val(image);
    });

    $("#radioset").buttonset();

    $('#SecondLastName').attr('data-val', false);
    $('#Phone2').attr('data-val', false);
    $('#FacebookAccount').attr('data-val', false);

    function SetUserType(type) {
        document.getElementById('UserType').value = type
    }

    $('#Phone1').mask('0000-0000');
    $('#Phone2').mask('0000-0000');
</script>