@model CarpoolingCR.Objects.Responses.CancelNotificationResponse

@{
    ViewBag.Title = "Notificaciones";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<br />
<div class="row form-group" style="text-align:center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h5 class="panel-title pull-left">Notificaciones Automáticas</h5>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a class="btn btn-info btn-sm btn-block custom-spin-button pull-right" href="~/NotificationRequests/Create" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Crear Notificación" style="width:150px">Crear Notificación</a>
    </div>
</div>
<div class="row" style="text-align:center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
    </div>
</div>
@{
    if (Model.Notifications.ToList().Count == 0)
    {
        <div class="row" style="text-align:center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <small>¡No se encontraron notificaciones automáticas!</small>
            </div>
        </div>
    }
    else
    {
        foreach (var notification in Model.Notifications)
        {
            var from = notification.FromTown.FullName;
            var to = notification.ToTown.FullName;

            <div class="row container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default" style="border-radius:20px; padding-right:0px">
                    <input type="button" class="btn btn-danger btn-sm pull-right" style="width:150px" value="Cancelar" onclick="PrepareCancelation(@notification.NotificationRequestId, '@Model.UserId')" />
                    <div class="row form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label from">Origen: </label><small>@from</small><br />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label to">Destino: </label><small>@to</small><br />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label route">Fecha: </label><small>@notification.RequestedFromDateTime.ToShortDateString()</small>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label route">Entre: </label><small>@notification.RequestedFromDateTime.ToString("hh:mm tt")</small> <label class="control-label route">y </label> <small>@notification.RequestedToDateTime.ToString("hh:mm tt")</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script>
    function PrepareCancelation(notificationId, userId) {
        console.log('Setting selected notification id: ' + notificationId + ', user id: ' + userId);

        $('#selected-notification-id').val(notificationId);
        $('#selected-user-id').val(userId);
        $('#cancelNotRequestModal').modal('toggle');
    }

    function CancelNotification() {
        var notificationId = $('#selected-notification-id').val();
        var userId = $('#selected-user-id').val();

        $.post('@Url.Action("CancelNotification","NotificationRequests")', { notificationRequestId: notificationId, userId: userId },
            function (data) {
                $('#cancelNotRequestModal').modal('toggle');
                console.log(data);

                var json = JSON.parse(data);

                $('#notification-request-index-container').html(json.Html);


                DisplayGrowlMessage(json.Message, 'success');
            });
    }
</script>
