@model CarpoolingCR.Objects.Responses.TripCreateResponse

@{
    ViewBag.Title = "Create";
}

<h2>Viajes</h2>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

@using (Html.BeginForm())
{
    <input type="hidden" id="hiddenOption1" />
    <input type="hidden" id="hiddenOption2" />

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <label class="control-label" style="text-align:left">Origen</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <select id="FromTown" name="FromTown" class="form-control">
                    @{
                        foreach (var item in Model.Towns)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <label class="control-label" style="text-align:left">Destino</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <select id="ToTown" name="ToTown" class="form-control">
                    @{
                        foreach (var item in Model.Towns)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <label class="control-label" style="text-align:left">Fecha</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <input id="DateTimeDisplay" name="DateTimeDisplay" autocomplete="off" class="form-control" type="text" onfocus="blur();">
                <input type="text" id="DateTime" name="DateTime" class="hidden" />
                @Html.ValidationMessageFor(model => model.Trip.DateTime, "", new { @class = "text-danger col-lg-10 col-md-10 col-sm-12 col-xs-12" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2">
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                <label class="control-label" style="text-align:left">Espacios</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                <label class="control-label" style="text-align:left">Disponibles</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                <input id="TotalSpaces" class="" style="width:40px;" name="TotalSpaces" onfocus="blur();">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                <input id="AvailableSpaces" class="" style="width:40px;" name="AvailableSpaces" onfocus="blur();">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <label class="control-label" style="text-align:left">Cuota</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                @Html.EditorFor(model => model.Trip.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trip.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <label class="control-label" style="text-align:left">Punto de Encuentro</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                @Html.EditorFor(model => model.Trip.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trip.Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.Trip.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Trip.Status, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Trip.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("<<", "Index", new { }, new { @class = "btn btn-primary" }) <input type="submit" onclick="return SetDateTimeFormats()" value="Crear" class="btn btn-info pull-right" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('#FromTown').editableSelect();
    $('#ToTown').editableSelect();

    LoadRouteOptions();
    $('#fade').editableSelect({ effects: 'fade' });

    $('#DateTimeDisplay').datetimepicker({
        mask: false,
        format: 'd/m/Y g:i a',
        formatTime: 'g:i a',
        minDate: Date.now(),
        step: 15,
        onChangeDateTime: function (current_time, $input) {
            $('#TotalSpaces').focus();
        }
    });

    $('#TotalSpaces').spinner({
        min: 1,
        max: 5,
        stop: function (e, ui) {
            $('#AvailableSpaces').val($('#TotalSpaces').val())
        }
    }).val(1);

    $('#AvailableSpaces').spinner({
        min: 0,
        max: 5,
        stop: function (e, ui) {
            if ($('#AvailableSpaces').val() > $('#TotalSpaces').val()) {
                $('#AvailableSpaces').val($('#TotalSpaces').val());
            }
        }
    }).val(1);

    //$("#radioset").buttonset();

    $('#JourneyId').change(function () {
        LoadRouteOptions();
    });


    function SetRouteOption(index) {
        var selectedOption = $('#hiddenOption' + index).val();

        $('#RouteDetail').val(selectedOption);
    }

    function SetDateTimeFormats() {
        var formattedValue = document.getElementById('DateTimeDisplay').value;

        $('#DateTime').val(formattedValue);
    }

    function LoadRouteOptions() {
        var split = $("#JourneyId :selected").text().split(' < - > ');

        $('#RouteDetail').val(split[0]);

        $('#hiddenOption1').val(split[0]);
        $('#hiddenOption2').val(split[1]);

        $('#ckPlace1').html('<span class="ui-checkboxradio-icon ui-corner-all ui-icon ui-icon-background ui-icon-blank"></span><span class="ui-checkboxradio-icon-space"> </span>' + split[0]);
        $('#ckPlace2').html('<span class="ui-checkboxradio-icon ui-corner-all ui-icon ui-icon-background ui-icon-blank ui-state-hover"></span><span class="ui-checkboxradio-icon-space"> </span>' + split[1]);
    }

</script>
