@model CarpoolingCR.Objects.Responses.TripDayTripsResponse

@{
    ViewBag.Title = "MonthTrips";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<div class="form-group">
    <h2>Viajes Disponibles</h2>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <br />
    <label class="control-label">@ViewBag.Info</label>

    <input id="AvailableSpaces" type="hidden" value="" />

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.ActionLink("<<", "Transportation", "Reservations", new { from = @Model.From, to = @Model.To }, new { @class = "btn btn-primary" })
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <label class="control-label" style="text-align:left">Trayecto: </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            @Model.From -> @Model.To
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            @*@{
                if (Model.CouldNotFindExactTrip)
                {
                    <small class="text-warning" style="text-align:justify">Rutas Alternas</small>
                }
            }*@
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div id="dayCalendar" style="height:100%" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dayTripModal" tabindex="-1" role="dialog" aria-labelledby="dayTripModalLabel" aria-hidden="true">
    <form action="/Reservations/Create" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="dayTripModalLabel">Reserva tu viaje</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <b>Trayecto</b>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <small id="modelFromTo"></small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <b>Conductor</b>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <small id="modelDriver"></small>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <b>Fecha</b>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <small id="modelDate"></small>
                                <input type="text" id="ReservationDate" name="ReservationDate" class="hidden" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <b>Espacios</b>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <input id="RequestedSpaces" name="RequestedSpaces" class="" style="width:40px;" onfocus="blur();">
                                <input type="text" id="DriverId" name="DriverId" class="hidden" />
                                <input type="text" id="TripId" name="TripId" class="hidden" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <b>Precio</b>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                ₡<small id="modelPrice"></small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                <b>Total</b>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                ₡<small id="modelTotal"></small>
                            </div>
                        </div>
                    </div>
                    <div id="btnsContainer" class="modal-footer">
                        @*<input type="button" onclick="OpenMessageModel()" class="btn btn-default pull-left" value="&#9993;" />*@
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" />
                        <input id="btnSubmitReservations" type="submit" class="btn btn-primary" value="Reservar" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="tripQuestionsModal" tabindex="-1" role="dialog" aria-labelledby="tripQuestionsModalLabel" aria-hidden="true">
    @*<form action="/Reservations/Create" method="post">*@
    @Html.AntiForgeryToken()
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="text" id="MsgDriverId" name="MsgDriverId" class="hidden" />
                    <input type="text" id="MsgPassengerId" name="DriverId" class="hidden" value="@Model.CurrentUserId" />
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="dayTripModalLabel">Mensajes</h4>
                    <small>¿Alguna duda? ¡Contácta al conductor!</small>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea class="form-control" id="Message" name="Message" style="height:200px; min-width:100%"></textarea>
                        </div>
                    </div>
                </div>
                <div id="btnsContainer" class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar" />
                    <input type="button" class="btn btn-primary" onclick="SendMessage()" value="Enviar" />
                </div>
            </div>
        </div>
    </div>
    @*</form>*@
</div>

<link href="~/fonts/fullcalendar-3.10.0/fullcalendar.min.css" rel="stylesheet" />
<script src="~/fonts/fullcalendar-3.10.0/moment.min.js"></script>
<script src="~/fonts/fullcalendar-3.10.0/fullcalendar.min.js"></script>
<script>
    $(document).ready(function () {
        var currentDate = new Date('@Model.CurrentDate');

        // page is now ready, initialize the calendar...
        $('#dayCalendar').fullCalendar({
            weekends: true,
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
            defaultView: 'listWeek',
            eventLimit: true, // for all non-agenda views
            header: {
                left: '',
                center: '',
                right: ''
            },
            eventRender: function (event, element, view) {
                // return $(`<tr class="fc-list-item ">
                //            <td class="fc-list-item-title fc-widget-content"><a><i class="fas fa-car"></i>  ` + new Date(event.start).toLocaleTimeString() + ` <br/> Origen: ` + event.from + ` <br/> Destino: ` + event.to+ `</a></td></tr>`);
                //},
                return $(`<tr class="fc-list-item ">
                            <td class="fc-list-item-title fc-widget-content"><i class="fas fa-car"></i>  ` + new Date(event.start).toLocaleTimeString() +
                    `<br/> <a>&emsp;&emsp;<span class="fc-event-dot" style="background-color:#2792F2"></span> ` + event.from + ` <br/> &emsp;&emsp;<span class="fc-event-dot" style="background-color:#2792F2"></span> ` + event.to + `<br/>&emsp;&emsp;&emsp; Conductor: ` + event.driver +
                    `<br/> &emsp;&emsp;&emsp;Espacios: ` + event.availableSpaces + ` <br/>&emsp;&emsp;&emsp;Monto: ` + event.price + `</a></td></tr><hr/>`);
                },
            allDaySlot: false,
            contentHeight: "auto",
            eventTextColor: 'black',
            views: {
                timelineDay: {
                    selectable: true
                }
            },
            events: [],
            contentHeight:500,
            eventClick: function (calEvent, jsEvent, view) {
                var date = new Date(calEvent.formatteddate);
                var crStr = date.toLocaleString('es-CR', { year: "numeric", month: "2-digit", day: "numeric", hour: "2-digit", minute: "2-digit", hour12: true });
                var usStr = date.toLocaleString('en-US', { year: "numeric", month: "2-digit", day: "numeric", hour: "2-digit", minute: "2-digit", hour12: true });

                $("#dialog").dialog("open");
                $('#ui-id-1').html("Reserva tu viaje");
                $('#modelFromTo').html(calEvent.fromto);
                $('#modelDate').html(crStr);
                $('#ReservationDate').val(date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds());
                $('#DriverId').val(calEvent.driverId);
                $('#modelDriver').html(calEvent.driver);
                $('#AvailableSpaces').val(calEvent.availableSpaces);

                $('#RequestedSpaces').spinner('option', 'min', 1);
                $('#RequestedSpaces').spinner('option', 'max', calEvent.availableSpaces);

                $('#modelPrice').html(calEvent.price);
                $('#modelTotal').html(calEvent.price);
                $('#TripId').val(calEvent.id);

                var reservationAlreadyExistent = ExistReservationToTrip(calEvent.id)

                if (reservationAlreadyExistent) {
                    $('#btnsContainer').html('<small class="pull-left text-warning">¡Ya tiene una reservación activa para este viaje!</small><button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="button" disabled class="btn btn-primary">Reservar</button>');
                } else {
                    $('#msgTextModal').val('')
                        //< input type = "button" onclick = "OpenMessageModel()" class="btn btn-default pull-left" value = "&#128386;" />
                    $('#btnsContainer').html('<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"/><input id="btnSubmitReservations" type="submit" class="btn btn-primary" value="Reservar" />');
                }

                $("#dayTripModal").modal();
                //window.location.href = '/Reservations/Create?tripId=' + calEvent.id;
            }
        });

        var arrayOfTrips = JSON.parse('@Html.Raw(Json.Encode(Model.Trips))');

        for (var i = 0; i < arrayOfTrips.length; i++) {
            var tripId = arrayOfTrips[i].TripId;
            var availableSpaces = arrayOfTrips[i].AvailableSpaces;
            var dateTime = arrayOfTrips[i].DateTimeStr;
            var driverId = arrayOfTrips[i].ApplicationUser.Id;
            var driver = arrayOfTrips[i].ApplicationUser.Name + ' ' + arrayOfTrips[i].ApplicationUser.LastName;
            var price = arrayOfTrips[i].Price;
            var from = arrayOfTrips[i].FromTown.FullName;
            var to = arrayOfTrips[i].ToTown.FullName;

            var startDate = new Date(dateTime);
            //enddate is 30 mins more than startdate, getTime is in milliseconds so 30 mins will be 30*60*100 = 1,800,000 millisecods
            //var endDate = new Date(startDate.getTime() + 1800000);

            spacesMsg = "";

            if (availableSpaces == 1) {
                spacesMsg = "1 espacio";
            } else {
                spacesMsg = availableSpaces + "espacios";
            }

            var event = {
                id: tripId,
                start: startDate,// end: endDate,
                color: '#2792F2',
                from: from,
                to: to,
                driverId: driverId,
                driver: driver,
                availableSpaces: availableSpaces,
                formatteddate: startDate,
                price: price.toFixed(2)
            };

            $('#dayCalendar').fullCalendar('renderEvent', event, true);
        }

        $('#dayCalendar').fullCalendar('gotoDate', startDate)
    });

    $('#RequestedSpaces').spinner({
        stop: function (e, ui) {
            var price = parseFloat($('#modelPrice').html());
            var requestedSpaces = parseInt($('#RequestedSpaces').val());

            var total = price * requestedSpaces;

            $('#modelTotal').html(total.toFixed(2));

            return false;
        }
    }).val(1);

    function ExistReservationToTrip(currentTripId) {
        var passengerReservations = JSON.parse('@Html.Raw(Json.Encode(Model.ExistentReservations))');

        for (var i = 0; i < passengerReservations.length; i++) {
            var existentReservationTripId = passengerReservations[i].TripId;

            if (existentReservationTripId == currentTripId) {
                return true;
            }
        }

        return false;
    }

    function OpenMessageModel() {
        var driverId = $('#DriverId').val();

        $('#MsgDriverId').val(driverId);
        $('#tripQuestionsModal').modal();
        $('#Message').focus();
    }

    function SendMessage() {
        var driverId = $('#MsgDriverId').val();
        var passengerId = $('#MsgPassengerId').val();
        var message = $('#Message').val();

        if (message == '') {
            displayMessages('100025', 'warning');
            $('#Message').focus();

            return;
        }

        $.post('/TripQuestions/SendQuestion', { driverId: driverId, passengerId: passengerId, tripQuestionInfoId: null, message: message },
            function (data) {
                if (data != '') {
                    //¡Mensaje Enviado!
                    displayMessages(data, 'info');
                    $('#Message').val('');
                    $('#Message').focus();
                }
            });
    }
</script>
