@model CarpoolingCR.Models.Trip

@{
    ViewBag.Title = "Delete";
}

<h2>Viajes</h2>
<meta name="viewport" content="width=device-width, user-scalable=no">

<h3>Está seguro que desea eliminar el viaje "@Model.FromTown - @Model.ToTown" el @Model.DateTime?</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("<<", "Index", new { }, new { @class = "btn btn-primary" }) <input type="submit" value="Eliminar" class="btn btn-danger pull-right" />
        </div>
    }
</div>