@model  CarpoolingCR.Objects.Responses.TripIndexResponse

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Viajes</h2>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<div id="trips">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
            <input class="search form-control" style="border-radius:25px" placeholder="Búsqueda" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1 col-xs-1">
            <a class="btn btn-primary pull-right" href="/Trips/Create" style="border-radius:25px">Crear</a>
        </div>
    </div>
    <br />
    @*<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="sort btn btn-secondary pull-right" style="border-radius:25px" data-sort="country">
                    <small>Por País</small>
                </button>&nbsp;
                <button class="sort btn btn-secondary pull-right" style="border-radius:25px" data-sort="town">
                    <small>Por Localidad</small>
                </button>
            </div>
        </div>*@

    <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <b class="pull-right">Viajes: @Model.Trips.Count</b>
        </div>
    </div>
    <ul class="list">
        @{
            if (Model.Trips.Count == 0)
            {
                <div class="row form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <small style="align-content:center">No se encontraror viajes</small>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                </div>
            }
            else
            {
                foreach (var trip in Model.Trips)
                {
                    <hr />
                    var from = trip.FromTown;
                    var to = trip.ToTown;

                    <li>
                        <div class="row form-group">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="control-label fromto">@from -> @to</label>
                                <small class="date">@trip.DateTime.ToString("dd/MM/yyyy hh:mm tt")</small>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                @{
                                    if (Model.IsAdmin)
                                    {
                                        <small class="price"><b>Conductor:</b> @trip.ApplicationUser.Name  @trip.ApplicationUser.LastName @trip.ApplicationUser.SecondLastName</small>
                                    }
                                }
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <small class="price"><b>Cuota:</b> @trip.Price</small>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <small class="price"><b>Espacios:</b> @trip.AvailableSpaces</small>
                                <input type="button" class="btn btn-danger pull-right" value="X" onclick="ConfirmDelete(@trip.TripId, '@from -> @to')" />
                            </div>
                        </div>

                        @{
                            var totalAmount = 0m;

                            foreach (var reservation in trip.Reservations)
                            {
                                <div class="row form-group">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                        <hr />
                                        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                                            <small class="driver"><b>- Pasajero: </b> @reservation.PassengerName<br /></small>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <small class="spaces"><b>&nbsp;&nbsp;Espacios: </b> @reservation.RequestedSpaces<br /></small>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            @if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Accepted)
                                            {
                                                <small><b>&nbsp;&nbsp;Total a Pagar: @Convert.ToDecimal(reservation.RequestedSpaces * trip.Price).ToString("N2")</b><br /></small>
                                            }
                                            else
                                            {
                                                <small><b>&nbsp;&nbsp;Total a Pagar: </b> @Convert.ToDecimal(reservation.RequestedSpaces * trip.Price).ToString("N2")<br /></small>
                                            }
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <small class="status"><b>&nbsp;&nbsp;Estado: </b>@reservation.Status</small>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            @{
                                                if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Pending)
                                                {
                                                    <input type="button" class="btn btn-success" value="&#10003;" onclick="ConfirmAction(@reservation.ReservationId, 'Accepted', 'aceptar esta reservación', 'Aceptar Reservación', 'Aceptar', 'btn-success', 'driver')" />
                                                    <input type="button" class="btn btn-danger" value="X" onclick="ConfirmAction(@reservation.ReservationId, 'Rejected', 'rechazar esta reservación', 'Rechazar Reservación', 'Rechazar', 'btn-danger', 'driver')" />
                                                }
                                                else
                                                {
                                                    <input type="button" class="btn btn-danger" value="X" onclick="ConfirmAction(@reservation.ReservationId, 'Cancelled', 'cancelar esta reservación', 'Cancelar Reservación', 'Cancelar', 'btn-danger', 'driver')" />
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                                if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Accepted)
                                {
                                    totalAmount += Convert.ToDecimal(reservation.RequestedSpaces * trip.Price);
                                }
                            }

                            <div class="row form-group">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                    <hr />
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <small><b>&nbsp;&nbsp;Ganancias: @totalAmount.ToString("N2")</b><br /></small>
                                    </div>
                                </div>
                            </div>
                        }
                    </li>
                }
            }
        }
    </ul>
</div>

<div class="modal fade" id="confirmReservationsAction" tabindex="-1" role="dialog" aria-labelledby="confirmReservationModalLabel" aria-hidden="true">
    <form action="/Reservations/ChangeReservationStatus/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="confirmReservationModalLabel">TITLE</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="reservationId" name="reservationId" class="hidden" />
                        <input type="text" id="status" name="status" class="hidden" />
                        <input type="text" id="cancelledFrom" name="cancelledFrom" class="hidden" />
                        <p id="confirmText">CONFIRMATION TITLE?</p>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Salir" />
                            <input type="submit" id="modalButton" class="btn btn-danger" value="Eliminar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="confirmTripDelete" tabindex="-1" role="dialog" aria-labelledby="dayTripModalLabel" aria-hidden="true">
    <form action="/Trips/Delete/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="dayTripModalLabel">Eliminación de Viajes</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="tripId" name="tripId" class="hidden" />
                        <p id="deleteText">Está seguro que desea eliminar xxxxx?</p>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                            <input type="submit" class="btn btn-danger" value="Eliminar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script language="javascript">
    var options = {
        valueNames: ['fromto', 'date', 'spaces', 'price']
    };

    var userList = new List('trips', options);

    function ConfirmDelete(id, name) {
        $('#deleteText').html('¿Está seguro que desea eliminar tu viaje de ' + name + '?<br/></b>Todas las reservaciones serán canceladas y notificadas!')
        $('#tripId').val(id);

        $("#confirmTripDelete").modal();
    }

    function ConfirmAction(reservationId, status, detail, title, btnVal, btnClass, cancelledFrom) {
        $('#confirmReservationModalLabel').html(title);
        $('#confirmText').html('¿Está seguro que desea ' + detail + ' ?');
        $('#reservationId').val(reservationId);
        $('#status').val(status);

        $('#modalButton').removeClass('btn-danger');
        $('#modalButton').removeClass('btn-success');

        $('#modalButton').val(btnVal);
        $('#modalButton').addClass(btnClass);
        $('#cancelledFrom').val(cancelledFrom);

        $("#confirmReservationsAction").modal();
    }

    function ChangeReservationStatus(reservationId, status, modal) {
        $('#reservationId').val(reservationId);
        $('#status').val(status);

        $(modal).modal();
    }

</script>
