@model  CarpoolingCR.Objects.Responses.TripIndexResponse

@{
    /**/

    ViewBag.Title = "Index";
}
<br />
<div id="trips">
    <div class="row form-group" style="text-align:center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5 class="pull-left">Viajes: @Model.Trips.Count</h5>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="form-group has-feedback has-search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                <input type="text" class="form-control search" placeholder="Búsqueda">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            @{
                if (Model.ReachedMaxCount)
                {
                    <small class="pull-right text-warning">¡Cantidad máxima de viajes alcanzada! <a href="#" data-toggle="tooltip" class="btn btn-sm btn-info" style="border-radius:10px" title="¡Sólo pueden haber 2 viajes activos por conductor simultáneamente!">?</a></small>
                }
                else
                {
                    if (!Model.VehicleInfoRegistered)
                    {
                        <small class="pull-right text-warning hidden-xs">¡Información del vehículo requerida! <a href="#" data-toggle="tooltip" class="btn btn-sm btn-info" style="border-radius:10px" title="Para crear viajes debes completar la información de tu vehículo en tu perfíl">?</a></small>
                        <small class="text-warning visible-xs"><br />¡Información del vehículo requerida! <a href="#" data-toggle="tooltip" class="btn btn-sm btn-info" style="border-radius:10px" title="Para crear viajes debes completar la información de tu vehículo en tu perfíl">?</a></small>
                    }
                    else
                    {
                        <a class="btn btn-info btn-sm btn-block custom-spin-button pull-right" href="~/Trips/Create" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Crea tu viaje" style="width:150px">Crea tu viaje</a>
                    }
                }
            }
        </div>
    </div>
    @{
        if (Model.Trips.Count == 0)
        {
            <div class="row form-group">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="text-align:center">
                    <small class="center-block">¡No hay viajes registrados!</small>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                </div>
            </div>
        }
        else
        {
            var index = 1;
            var claims = (System.Security.Claims.ClaimsIdentity)User.Identity;
            var value = string.Empty;
            var obj = claims.FindFirst("CurrencyChar");
            var currency = string.Empty;
            var country = string.Empty;

            if (obj != null)
            {
                currency = obj.Value;
            }

            obj = claims.FindFirst("CountryCode");

            if (obj != null)
            {
                country = obj.Value;
            }

            <ul class="list" style="list-style:none; padding-left:0px">
                @{
                    foreach (var trip in Model.Trips)
                    {
                        var from = trip.FromTown.FullName;
                        var to = trip.ToTown.FullName;
                        var route = trip.Route;

                        var evenOdd = index % 2;
                        var background = (evenOdd == 0) ? "azure" : "white";

                        index++;

                        <li>
                            <div class="row form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default" style="border-radius:10px; margin-right:5px">
                                    <br />
                                    @Html.Partial("~/Views/Trips/Partials/p_TripHeader.cshtml", trip)
                                    <hr />
                                    <div class="row form-group" style="padding-left:20px">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="control-label" style="text-align:left">Reservaciones</label>
                                        </div>
                                    </div>
                                    @Html.Partial("~/Views/Reservations/Partials/p_TripsReservations.cshtml", trip.Reservations)
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        }
    }
</div>

<div class="modal fade" id="confirmReservationsAction" tabindex="-1" role="dialog" aria-labelledby="confirmReservationModalLabel" aria-hidden="true">
    <form action="~/Reservations/ChangeReservationStatus/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="confirmReservationModalLabel">TITLE</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="reservationId" name="reservationId" class="hidden" />
                        <input type="text" id="status" name="status" class="hidden" />
                        <input type="text" id="cancelledFrom" name="cancelledFrom" class="hidden" />
                        <small id="confirmText">CONFIRMATION TITLE?</small>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default btn-sm" style="width:150px" data-dismiss="modal" value="Salir" />
                            <input type="submit" id="modalButton" style="width:150px" class="btn btn-danger btn-sm" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="confirmTripDelete" tabindex="-1" role="dialog" aria-labelledby="dayTripModalLabel" aria-hidden="true">
    <form action="~/Trips/Delete/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="dayTripModalLabel">Eliminación de Viajes</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="tripId" name="tripId" class="hidden" />
                        <small id="deleteText">Está seguro que desea eliminar xxxxx?</small>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default btn-sm" style="width:150px" data-dismiss="modal" value="Cancelar">
                            <input type="submit" class="btn btn-danger btn-sm" style="width:150px" value="Eliminar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="reservationChatModal" tabindex="-1" role="dialog" aria-labelledby="reservationChatModalLabel" aria-hidden="true">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="chatContainer">
            @Html.Partial("~/Views/ChattingMessages/_Index.cshtml", new CarpoolingCR.Objects.Responses.ChatMessageResponse { Messages = new List<CarpoolingCR.Models.ChattingMessage>() })
        </div>
    </div>
</div>

<script language="javascript">
    var options = {
        valueNames: ['from', 'to', 'name', 'route', 'date', 'price', 'spaces', 'status', 'total', 'incomes']
    };

    var userList = new List('trips', options);

    function ConfirmDelete(id, name) {
        $('#deleteText').html('¿Está seguro que desea cancelar tu viaje de ' + name + '?<br/></b>\n\n***Todas las reservaciones serán canceladas y los pasajeros serán notificados!')
        $('#tripId').val(id);

        $("#confirmTripDelete").modal();
    }

    function ConfirmAction(reservationId, status, detail, title, btnVal, btnClass, cancelledFrom) {
        $('#confirmReservationModalLabel').html(title);
        $('#confirmText').html(detail);
        $('#reservationId').val(reservationId);
        $('#status').val(status);

        $('#modalButton').removeClass('btn-danger');
        $('#modalButton').removeClass('btn-info');

        $('#modalButton').val(btnVal);
        $('#modalButton').addClass(btnClass);
        $('#cancelledFrom').val(cancelledFrom);

        $("#confirmReservationsAction").modal();
    }

    function ChangeReservationStatus(reservationId, status, modal) {
        $('#reservationId').val(reservationId);
        $('#status').val(status);

        $(modal).modal();
    }

    function OpenChat(reservationId, fromName, toName) {
        $.get('/ChattingMessages/Index', { reservationId: reservationId },
            function (data) {
                $('#chatContainer').html(data);
            });

        $("#reservationChatModal").modal();
        $('#chatMessageContainer').scrollTop($('#chatMessageContainer')[0].scrollHeight);
    }

    $.connection.hub.start();
    $.connection.hub.qs = "myInfo=12345";
    var chat = $.connection.SignalHandlerHub;

    function SendMessage(reservationId, from) {
        var message = $('#messageChatText').val();

        $.post('/ChattingMessages/Create', { reservationId: reservationId, userId: from, message: message },
            function (data) {
                $('#chatContainer').html(data);

                $('#chatMessageContainer').scrollTop($('#chatMessageContainer')[0].scrollHeight);
            });
    }

//$(document).ready(function () {
//    $('[data-toggle="tooltip"]').tooltip();
//});
</script>
