@model  CarpoolingCR.Objects.Responses.TripIndexResponse

@{
    /**/

    ViewBag.Title = "Index";
}

<h3>Viajes</h3>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<div id="trips">
    <div class="row form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input class="search form-control" style="border-radius:25px" placeholder="Búsqueda" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            @{
                if (Model.ReachedMaxCount)
                {
                    <small class="pull-right text-warning">¡Cantidad máxima de viajes alcanzada! <a href="#" data-toggle="tooltip" class="btn btn-sm btn-info" style="border-radius:10px" title="¡Sólo pueden haber 2 viajes activos por conductor simultáneamente!">?</a></small>
                    @*<a class="btn btn-primary pull-right disabled" style="border-radius:25px">Crear</a>*@
                }
                else
                {
                    if (!Model.VehicleInfoRegistered)
                    {
                        <small class="pull-right text-warning hidden-xs">¡Información del vehículo requerida! <a href="#" data-toggle="tooltip" class="btn btn-sm btn-info" style="border-radius:10px" title="Para crear viajes debes completar la información de tu vehículo en tu perfíl">?</a></small>
                        <small class="text-warning visible-xs"><br />¡Información del vehículo requerida! <a href="#" data-toggle="tooltip" class="btn btn-sm btn-info" style="border-radius:10px" title="Para crear viajes debes completar la información de tu vehículo en tu perfíl">?</a></small>
                    }
                    else
                    {
                        <a class="btn btn-info btn-sm btn-block custom-spin-button pull-right" href="~/Trips/Create" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Crear" style="width:150px">Crear</a>
                    }
                }
            }
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <b class="pull-right">Viajes: @Model.Trips.Count</b>
        </div>
    </div>
    <ul class="list" style="list-style:none; margin:0; padding:0">
        @{
            if (Model.Trips.Count == 0)
            {
                <div class="row form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="text-align:center">
                        <small class="center-block">No se encontraror viajes</small>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                </div>
            }
            else
            {
                var index = 1;
                foreach (var trip in Model.Trips)
                {
                    var from = trip.FromTown.FullName;
                    var to = trip.ToTown.FullName;
                    var route = trip.Route;

                    var evenOdd = index % 2;
                    var background = (evenOdd == 0) ? "azure" : "white";

                    index++;
                    <li>
                        <div class="panel panel-default" style="border-radius:25px">
                            <div class="row form-group">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7" style="padding-left:20px"><br />
                                    <b>Origen: </b><small class="from">@from</small><br />
                                    <b>Destino: </b><small class="to">@to</small><br />
                                    @{
                                        if (route != null)
                                        {
                                            <b>Ruta:</b><small class="route">@route.Name</small><br />
                                        }
                                    }
                                    <b>Salida: </b><small class="date">@trip.DateTime.ToString("dd/MM/yyyy hh:mm tt")</small><br />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                                    <input type="button" class="btn btn-danger btn-sm visible-xs pull-right" style="width:150px;" value="Cancelar Viaje" onclick="ConfirmDelete(@trip.TripId, '@from -> @to')" /><br />
                                    <small class="price"><b>Cuota :</b> ₡ @trip.Price</small><br />
                                    <small class="spaces"><b>Espacios:</b> @trip.AvailableSpaces</small><br /><br />
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:center">
                                    <input type="button" class="btn btn-danger btn-sm hidden-xs pull-right" style="width:150px" value="Cancelar Viaje" onclick="ConfirmDelete(@trip.TripId, '@from -> @to')" /><br />
                                    @{
                                        if (Model.IsAdmin)
                                        {
                                            <div class="center-block" id="profile-container-small" data-toggle="tooltip" title="@trip.ApplicationUser.FullName"><img id="profileImage" src="@Url.Content(trip.ApplicationUser.Picture)" /><br /></div>
                                        }
                                    }
                                </div>
                            </div>
                            <hr />
                            @{
                                var totalAmount = 0m;

                                foreach (var reservation in trip.Reservations)
                                {
                                    <div class="row form-group">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                                        </div>
                                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                            @*<hr />*@
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                                <div id="profile-container-small" class="" data-toggle="tooltip" title="@reservation.PassengerName">
                                                    <img id="profileImage" src="@Url.Content(reservation.ApplicationUser.Picture)" /><br />
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                @{
                                                    var stars = reservation.ApplicationUser.Stars;

                                                    switch (stars)
                                                    {
                                                        case 1:
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star2" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star3" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star4" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star5" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                            break;
                                                        case 2:
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star3" class="fa fa-star" data-toggle="Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star4" class="fa fa-star" data-toggle="Malo"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star5" class="fa fa-star" data-toggle="Malo"></span></a>
                                                            break;
                                                        case 3:
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                            break;
                                                        case 4:
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                                            break;
                                                        case 5:
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star1" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star2" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star3" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star4" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                            break;
                                                        case -1:
                                                            <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star1" class="fa fa-star" data-toggle="¡No hay suficientes calificaciones!"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star2" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star3" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star4" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                                            <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star5" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                                            break;
                                                    }
                                                    <br />
                                                    if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Accepted)
                                                    {
                                                        var claims = (System.Security.Claims.ClaimsIdentity)User.Identity;
                                                        var value = string.Empty;
                                                        var obj = claims.FindFirst("CountryCode");

                                                        if (obj != null)
                                                        {
                                                            value = obj.Value;
                                                        }

                                                        <small class="driver inline-block ">
                                                            <a href="tel: @value @reservation.ApplicationUser.Phone1" style="color:blue"> @value @reservation.ApplicationUser.Phone1 </a>

                                                            @if (!string.IsNullOrEmpty(reservation.ApplicationUser.Phone2))
                                                            {
                                                                <a href="tel: @value @reservation.ApplicationUser.Phone2" style="color:blue"> @value @reservation.ApplicationUser.Phone2 </a>
                                                            }
                                                        </small><br />
                                                    }
                                                    <small class="spaces"><b>&nbsp;&nbsp;Espacios: </b> @reservation.RequestedSpaces</small>
                                                }
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                @{
                                                    var description = CarpoolingCR.Utils.EnumHelper<CarpoolingCR.Utils.Enums.ReservationStatus>.GetDisplayValue(reservation.Status);
                                                    <small class="status"><b>&nbsp;&nbsp;Estado: </b>@description</small><br />

                                                    if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Accepted)
                                                    {
                                                        <small class="total"><b>&nbsp;&nbsp;Total: ₡ @Convert.ToDecimal(reservation.RequestedSpaces * trip.Price).ToString("N2")</b><br /></small>
                                                    }
                                                    else
                                                    {
                                                        <small class="total"><b>&nbsp;&nbsp;Total: </b> ₡ @Convert.ToDecimal(reservation.RequestedSpaces * trip.Price).ToString("N2")<br /></small>
                                                    }
                                                }
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                                @{
                                                    if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Pending)
                                                    {
                                                        @*<input type="button" class="btn btn-info" value="Chat" onclick="OpenChat(@reservation.ReservationId)" />*@
                                                        <input type="button" class="btn btn-info btn-sm" value="Aceptar" onclick="ConfirmAction(@reservation.ReservationId, 'Accepted', '¡Confirme que desea aceptar esta reservación!', 'Reservaciones', 'Confirmar', 'btn-info', 'driver')" />
                                                        <input type="button" class="btn btn-danger btn-sm" value="Rechazar" onclick="ConfirmAction(@reservation.ReservationId, 'Rejected', '¡Confirme que desea rechazar esta reservación!', 'Reservaciones', 'Rechazar', 'btn-danger', 'driver')" />
                                                    }
                                                    else
                                                    {
                                                        <input type="button" class="btn btn-danger btn-sm pull-right" value="Cancelar" onclick="ConfirmAction(@reservation.ReservationId, 'Cancelled', '¡Confirme que desea cancelar esta reservación!', 'Reservaciones', 'Cancelar', 'btn-danger', 'driver')" />
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    if (reservation.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Accepted)
                                    {
                                        totalAmount += Convert.ToDecimal(reservation.RequestedSpaces * trip.Price);
                                    }
                                    <hr />
                                }

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-info" style="border-radius:0px 0px 25px 25px">
                                            <small class="incomes pull-right"><b>Ganancias: ₡ @totalAmount.ToString("N2")</b><br /></small>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </li>
                }
            }
        }
    </ul>
</div>

<div class="modal fade" id="confirmReservationsAction" tabindex="-1" role="dialog" aria-labelledby="confirmReservationModalLabel" aria-hidden="true">
    <form action="~/Reservations/ChangeReservationStatus/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="confirmReservationModalLabel">TITLE</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="reservationId" name="reservationId" class="hidden" />
                        <input type="text" id="status" name="status" class="hidden" />
                        <input type="text" id="cancelledFrom" name="cancelledFrom" class="hidden" />
                        <small id="confirmText">CONFIRMATION TITLE?</small>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default btn-sm" style="width:150px" data-dismiss="modal" value="Salir" />
                            <input type="submit" id="modalButton" style="width:150px" class="btn btn-danger btn-sm" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="confirmTripDelete" tabindex="-1" role="dialog" aria-labelledby="dayTripModalLabel" aria-hidden="true">
    <form action="~/Trips/Delete/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="dayTripModalLabel">Eliminación de Viajes</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="tripId" name="tripId" class="hidden" />
                        <small id="deleteText">Está seguro que desea eliminar xxxxx?</small>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default btn-sm" style="width:150px" data-dismiss="modal" value="Cancelar">
                            <input type="submit" class="btn btn-danger btn-sm" style="width:150px" value="Eliminar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="reservationChatModal" tabindex="-1" role="dialog" aria-labelledby="reservationChatModalLabel" aria-hidden="true">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="chatContainer">
            @Html.Partial("~/Views/ChattingMessages/_Index.cshtml", new CarpoolingCR.Objects.Responses.ChatMessageResponse { Messages = new List<CarpoolingCR.Models.ChattingMessage>() })
        </div>
    </div>
</div>

<script language="javascript">
    var options = {
        valueNames: ['from', 'to', 'route', 'date', 'price', 'spaces', 'status', 'total', 'incomes']
    };

    var userList = new List('trips', options);

    function ConfirmDelete(id, name) {
        $('#deleteText').html('¿Está seguro que desea cancelar tu viaje de ' + name + '?<br/></b>\n\n***Todas las reservaciones serán canceladas y los pasajeros serán notificados!')
        $('#tripId').val(id);

        $("#confirmTripDelete").modal();
    }

    function ConfirmAction(reservationId, status, detail, title, btnVal, btnClass, cancelledFrom) {
        $('#confirmReservationModalLabel').html(title);
        $('#confirmText').html(detail);
        $('#reservationId').val(reservationId);
        $('#status').val(status);

        $('#modalButton').removeClass('btn-danger');
        $('#modalButton').removeClass('btn-info');

        $('#modalButton').val(btnVal);
        $('#modalButton').addClass(btnClass);
        $('#cancelledFrom').val(cancelledFrom);

        $("#confirmReservationsAction").modal();
    }

    function ChangeReservationStatus(reservationId, status, modal) {
        $('#reservationId').val(reservationId);
        $('#status').val(status);

        $(modal).modal();
    }

    function OpenChat(reservationId, fromName, toName) {
        $.get('/ChattingMessages/Index', { reservationId: reservationId },
            function (data) {
                $('#chatContainer').html(data);
            });

        $("#reservationChatModal").modal();
        $('#chatMessageContainer').scrollTop($('#chatMessageContainer')[0].scrollHeight);
    }

    $.connection.hub.start();
    $.connection.hub.qs = "myInfo=12345";
    var chat = $.connection.SignalHandlerHub;

    function SendMessage(reservationId, from) {
        var message = $('#messageChatText').val();

        $.post('/ChattingMessages/Create', { reservationId: reservationId, userId: from, message: message },
            function (data) {
                $('#chatContainer').html(data);

                $('#chatMessageContainer').scrollTop($('#chatMessageContainer')[0].scrollHeight);
            });
    }

    //$(document).ready(function () {
    //    $('[data-toggle="tooltip"]').tooltip();
    //});
</script>
