@model  CarpoolingCR.Objects.Responses.TripIndexResponse

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Viajes</h2>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<p>
    @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn btn-primary pull-right" })
</p>
<br />
<table class="table">
    @{
        if (Model.Trips.Count == 0)
        {
            <tr>
                <td align="center">
                    No se encontraron registros
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Trips)
            {
                <tr>
                    <td>
                        @{
                            <label class="control-label">@item.FromTown - > @item.ToTown</label> <label class="control-label pull-right">@Html.DisplayFor(modelItem => item.AvailableSpaces) Espacios</label>
                        }
                        <br />
                        @{
                            @Html.DisplayFor(modelItem => item.DateTime) <label class="control-label pull-right">@Html.DisplayFor(modelItem => item.Price)</label>
                        }
                    </td>
                    <td class="">
                        @Html.ActionLink("...", "Edit", new { id = item.TripId }, new { @class = "btn btn-info " })
                        <input type="button" class="btn btn-danger" onclick="ConfirmDelete(@item.TripId, '@item.FromTown -> @item.ToTown')" value="X" />
                    </td>
                </tr>
            }
        }
    }
</table>

<div class="modal fade" id="confirmTripDelete" tabindex="-1" role="dialog" aria-labelledby="dayTripModalLabel" aria-hidden="true">
    <form action="/Trips/Delete/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="dayTripModalLabel">Eliminación de Localidades</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="tripId" name="tripId" class="hidden" />
                        <p id="deleteText">Está seguro que desea eliminar xxxxx?</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script language="javascript">
    function ConfirmDelete(id, name) {
        $('#deleteText').html('¿Está seguro que desea eliminar ' + name + '?')
        $('#tripId').val(id);

        $("#confirmTripDelete").modal();
    }
</script>
