@model CarpoolingCR.Objects.Responses.ReservationTransportationResponse

@{
    ViewBag.Title = "Transportation";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<br />

@{
    if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div class="jumbotron">
            <div class="row visible-xs">
                <div class="col-xs-12">
                    <img src="~/Content/Icons/ride_small_darkbg.jpg" class="center-block" />
                    <br /><br />
                </div>
            </div>
            @{
                //if user not logged, display
                if (User.Identity == null || !User.Identity.IsAuthenticated)
                {
                    <div class="row visible-xs">
                        <div class="col-xs-12">
                            <a href="~/Account/Login" class="btn btn-info center-block" style="width:200px">¡Regístrate e Inicia Sesión!</a><br />
                        </div>
                    </div>
                }
            }
            <div class="row">
                <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12" style="text-align:justify">
                    <small>
                        <b>¡Bienvenidos!</b><br /><br />
                        ¿Necesitas movilizarte entre ciudades y no tenés vehículo? ¿Pero también querés evitar el sistema de transporte público? (largas filas para comprar
                        tiquete, unidades sucias y en mal estado, tiempos prolongados de viaje, largas horas de espera...) bueno pues igual que vos, existen conductores que se dirigen hacia tu destino
                        con espacio disponible para llevarte. ¡Imagínate! un viaje más tranquilo, breve, cómodo y personalizado mientras conoces nuevos amigos!<br /><br />
                    </small>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs pull-right" style="width:50px; height:50px">
                    <img src="~/Content/Icons/ride_small_darkbg.jpg" class="pull-right" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:justify">
                    <small>
                        <b>¿Cómo Funciona?</b><br />
                        ¡Simple! El conductor te ofrece un servicio de transporte hacia donde te dirijas por una cuota simbólica para la gasolina! Esta cuota es puesta por el conductor y al reservar el pasajero acepta pagarla en su totalidad. Todos los pagos
                        se hacen directamente al conductor así que te aconsejamos acordar con él antes con cuánto vas a pagar, en caso de que se necesite cambio.<br /><br />

                        <b>¿Y la seguridad?</b><br />
                        En buscoridecr.com nos preocupamos por su seguridad. Antes de utilizar el sitio todo usuario deberá registrarse y proporcionar información referente a su persona como cédula (que será verificada por buscoridecr.com), nombre, correo electrónico y
                        número celular, además de otro número telefónico opcional. Una vez el registro esté hecho el usuario debe verificar su correo electrónico; además de verificar su número celular, este último consiste en el envío automático de un código de verificación
                        único de 6 dígitos por medio de mensaje de texto al número celular proporcionado para posteriormente ingresar ese código en el sistema. Con esto verificamos que ese número celular es realmente tuyo. Estas verificaciones se realizan una sola vez,
                        y ninguno de tus datos personales serán públicos pero si serán una fuerte herramienta de seguridad en caso de que algún usuario presente problemas con alguno de los acompañantes en sus viajes. Otra medida de seguridad es que todos los conductores deben
                        registrar la información de su vehículo, incluyendo la placa. A su vez, los usuarios pueden calificarse mutuamente y estas publicaciones y comentarios serán públicos para los usuarios a la hora de reservar, lo cual te dará una idea
                        de quién será tu acompañante y criterio para decidir hacer el viaje o no con esa persona. Por último, el sistema cuenta con un historial de viajes con la información y contactos antes mencionados que pueden ser consultados en "Historial de viajes". <br /><br />

                        Habiendo dicho esto, buscoridecr.com es una página que sirve de puente de comunicación entre conductores y pasajeros; no tiene relación directa con éstos y por ende no se hace responsable de cualquier eventualidad que suceda antes, durante o después de los viajes.<br /><br /><br />
                    </small>
                </div>
            </div>
            <b>Facebook:</b>
            <br />
            <div class="panel panel-default">
                <h6>&nbsp;&nbsp;<b><a href="https://www.facebook.com/groups/2397752017147040/" target="_blank">Buscoridecr Facebook</a></b></h6>
            </div>
            <hr />
            <b>Grupos Asociados:</b>
            <br />
            <div class="panel panel-default">
                <h6>&nbsp;&nbsp;<b><a href="https://www.facebook.com/groups/2397752017147040/" target="_blank">Ruta Alterna San Carlos</a></b></h6>
            </div>
        </div>
    }
    else
    {
        <div class="row form-group" style="text-align:center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="~/Content/Icons/HomeLogo.png" class="pull-right" />
            </div>
        </div>
        <div id="loading-content" class="row form-group" style="text-align:center; height:500px;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="~/Content/Icons/processing.gif" style="vertical-align:middle" /><br />
                <small>Procesando...</small>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

            </div>
        </div>
        <div id="reserve-now" class="row form-group hidden">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                ¡Reserva tu viaje ya!
            </div>
        </div>
        <div id="main-content" class="row form-group hidden panel panel-default" style="border-radius:10px; margin:1px; padding-top: 10px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="has-feedback has-search" style="width:100%">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            <select id="FromTown" name="FromTown" class="form-control waypoints" placeholder="Origen" style="width:100%; max-width:500px !important">
                                @Html.Raw(Model.DistrictControlOptions)
                            </select>
                            <label id="fromDistrictId"></label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="has-feedback has-search" style="width:100%">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            <select id="ToTown" name="ToTown" class="form-control waypoints w-100" placeholder="Destino" style="width:100%; max-width:500px !important">
                                @Html.Raw(Model.DistrictControlOptions)
                            </select>
                            <label id="toDistrictId"></label>
                        </div>
                    </div>
                </div>
                <div class="row form-group hidden-xs">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button onclick="window.location='@Url.Action("Login","Account")'" type="button" class="btn btn-info btn-sm" style="width:260px;border-radius:10px" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Consultar Viajes">Consultar Viajes</button>
                    </div>
                </div>
                <div class="row form-group visible-xs">
                    <div class="col-xs-12">
                        <button onclick="window.location='@Url.Action("Login","Account")'" type="button" class="btn btn-info btn-sm" style="width:260px;border-radius:10px" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Consultar Viajes">Consultar Viajes</button>
                    </div>
                </div>
                @Html.Partial("~/Views/Reservations/Partials/_RequestJourney.cshtml", Model)
            </div>
        </div>

        <script>
    $('#tabs').tabs();
    $('#tabPending').removeClass('ui-state-active');
    $('#FromTown').editableSelect();
    $('#ToTown').editableSelect();
            
    $('#reserve-now').slideUp(1);
    $('#loading-content').slideDown(1);


    $(document).ready(function () {
        var tabIndex = @Model.TabIndex;

        $('#tabs').tabs("option", "active", tabIndex);

        $('#main-content').removeClass('hidden');
        $('#reserve-now').removeClass('hidden');

        $('#main-content').slideDown();
        $('#loading-content').slideUp();

        $('#calendar').fullCalendar('gotoDate', Date.now());
    });
        </script>
    }
}






