@model CarpoolingCR.Objects.Responses.HistorialResponse
@{
    ViewBag.Title = "LoadDriverTripHistorial";
}


@{
    <div class="row container">
        @{
            if (Model.Reservations.Count == 0)
            {
                <div class="row form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <small>¡No hubo reservaciones para este viaje!</small>
                    </div>
                </div>
            }
            else
            {
                foreach (var reservation in Model.Reservations)
                {
                    var from = reservation.Trip.FromTown.FullName;
                    var to = reservation.Trip.ToTown.FullName;
                    var route = reservation.Trip.Route.FullName;

                    var claims = (System.Security.Claims.ClaimsIdentity)User.Identity;
                    var value = string.Empty;
                    var obj = claims.FindFirst("CurrencyChar");
                    var currency = string.Empty;
                    var country = string.Empty;

                    if (obj != null)
                    {
                        currency = obj.Value;
                    }

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default" style="border-radius:10px; padding-top:15px">
                    @Html.Partial("~/Views/Trips/Partials/p_TripHeader.cshtml", reservation.Trip)
                    <div class="row form-group" style="padding:10px">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default" style="border-radius:10px; margin-bottom:0px; padding:10px">
                            <div class="row">
                                @{
                                    var driverId = reservation.Trip.ApplicationUserId;
                                    var passengerId = reservation.ApplicationUserId;

                                    var passengerRating = reservation.Trip.UserRatings.Where(x => x.FromId == driverId && x.ToId == passengerId).SingleOrDefault();
                                    var driverRating = reservation.Trip.UserRatings.Where(x => x.FromId == passengerId && x.ToId == driverId).SingleOrDefault();

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="row form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default" style="margin-left:15px; margin-right:15px; margin-bottom:0px; border-radius: 10px; text-align:center; display:inline; width:90%; height:125px; background-color:lightyellow">
                                                <b>Calificación del conductor:</b><br />
                                                @{
                                                    if (passengerRating == null)
                                                    {
                                                        <small>¡El conductor no te ha calificado!</small><br /><br />
                                                    }
                                                    else
                                                    {
                                                        switch (passengerRating.Stars)
                                                        {
                                                            case 1:
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star2" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star3" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star4" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star5" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                                break;
                                                            case 2:
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star3" class="fa fa-star" data-toggle="Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star4" class="fa fa-star" data-toggle="Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star5" class="fa fa-star" data-toggle="Malo"></span></a>
                                                                break;
                                                            case 3:
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                                break;
                                                            case 4:
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                                                break;
                                                            case 5:
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star1" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star2" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star3" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star4" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                break;
                                                        }
                                                        <br />
                                                        <small>@passengerRating.Comments</small>
                                                    }

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="row form-group" style="margin-bottom:0px">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default" style="margin-left:15px; margin-right:15px; margin-bottom:0px; border-radius: 10px; text-align:center; display:inline; width:90%; height:125px; background-color:lightyellow">
                                                <b>Tu calificación:</b><br />
                                                @{
                                                    if (driverRating == null)
                                                    {
                                                        <small>¡No has calificado al conductor!</small><br /><br />
                                                        <input type="button" class="btn btn-info btn-sm" value="Calificar" onclick="PopUpQualifyModal(@reservation.TripId, '@passengerId', '@driverId', '@reservation.ApplicationUser.FullName', true,'#historial-container')" />
                                                    }
                                                    else
                                                    {
                                                        switch (driverRating.Stars)
                                                        {
                                                            case 1:
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star2" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star3" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star4" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star5" class="fa fa-star" data-toggle="Muy Malo"></span></a>
                                                                break;
                                                            case 2:
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star3" class="fa fa-star" data-toggle="Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star4" class="fa fa-star" data-toggle="Malo"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star5" class="fa fa-star" data-toggle="Malo"></span></a>
                                                                break;
                                                            case 3:
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                                break;
                                                            case 4:
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star2" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star5" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                                                break;
                                                            case 5:
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star1" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star2" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star3" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star4" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                                break;
                                                        }
                                                        <br />
                                                        <small>@driverRating.Comments</small>
                                                    }

                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        }
    </div>
}
