@model CarpoolingCR.Objects.Responses.ReservationTransportationResponse

<style>
    .checked {
        color: orange;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="yourreservations">
    <small>Reservaciones Pendientes</small><br /><br />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
            <input class="search form-control" style="border-radius:25px" placeholder="Búsqueda" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1 col-xs-1">
        </div>
    </div>
    <br />
    <ul class="list">
        @{
            if (Model.PassengerReservations.Count == 0)
            {
                <div class="row form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <small style="align-content:center">No se encontraror reservaciones</small>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                </div>
            }
            else
            {
                foreach (var item in Model.PassengerReservations)
                {
                    var from = item.Trip.FromTown.FullName;
                    var to = item.Trip.ToTown.FullName;

                    <li>
                        <label class="control-label fromto">@from -> @to</label>
                        <small class="date">@item.Trip.DateTime.ToString("dd/MM/yyyy hh:mm tt")</small>
                        <small class="price"><b>Cuota:</b> ₡ @item.Trip.Price</small>

                        <div class="row form-group">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <small class="driver"><b>- Conductor: </b> @item.Trip.ApplicationUser.Name  @item.Trip.ApplicationUser.LastName @item.Trip.ApplicationUser.SecondLastName</small><br />

                                    @if (item.Status == CarpoolingCR.Utils.Enums.ReservationStatus.Accepted)
                                    {
                                        <small class="driver inline-block ">
                                            <b>- Contacto: </b> <a href="tel: +506 @item.Trip.ApplicationUser.Phone1" style="color:blue"> +506 @item.Trip.ApplicationUser.Phone1 </a>

                                            @if (!string.IsNullOrEmpty(item.Trip.ApplicationUser.Phone2))
                                            {
                                                <a href="tel: +506 @item.Trip.ApplicationUser.Phone2" style="color:blue"> +506 @item.Trip.ApplicationUser.Phone2 </a>
                                            }

                                        </small><br />
                                    }
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    @{
                                        var stars = item.ApplicationUser.Stars;

                                        switch (stars)
                                        {
                                            case 1:
                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star" data-toggle="Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                                break;
                                            case 2:
                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star" data-toggle="Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                                break;
                                            case 3:
                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star" data-toggle="Muy Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                                break;
                                            case 4:
                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star" data-toggle="Excelente"></span></a>
                                                break;
                                            case 5:
                                                <a href="#" data-toggle="tooltip" title="Muy Malo"><span id="p-star1" class="fa fa-star checked" data-toggle="Muy Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Malo"><span id="p-star2" class="fa fa-star checked" data-toggle="Malo"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Bueno"><span id="p-star3" class="fa fa-star checked" data-toggle="Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Muy Bueno"><span id="p-star4" class="fa fa-star checked" data-toggle="Muy Bueno"></span></a>
                                                <a href="#" data-toggle="tooltip" title="Excelente"><span id="p-star5" class="fa fa-star checked" data-toggle="Excelente"></span></a>
                                                break;
                                            case -1:
                                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star1" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star2" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star3" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star4" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                                <a href="#" data-toggle="tooltip" title="¡Usuario no calificado!"><span id="p-star5" class="fa fa-star" data-toggle="¡Usuario no calificado!"></span></a>
                                                break;
                                        }
                                        <br />
                                        <small class="spaces"><b>&nbsp;&nbsp;Espacios Solicitados: </b> @item.RequestedSpaces<br /></small>
                                    }
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    @{
                                        var description = CarpoolingCR.Utils.EnumHelper<CarpoolingCR.Utils.Enums.ReservationStatus>.GetDisplayValue(item.Status);
                                        <small class="status"><b>&nbsp;&nbsp;Estado: </b>@description</small>
                                    }
                                    <br />
                                    <small><b>&nbsp;&nbsp;Total: </b> ₡ @Convert.ToDecimal(item.RequestedSpaces * @item.Trip.Price)</small><br />
                                    @{
                                        if (item.Status != CarpoolingCR.Utils.Enums.ReservationStatus.Cancelled)
                                        {
                                            <input type="button" class="btn btn-danger pull-right" value="X" style="border-radius:25px" onclick="ConfirmAction(@item.ReservationId, '@CarpoolingCR.Utils.Enums.ReservationStatus.Cancelled','cancelar esta reservación','Reservaciones', 'Cancelar', 'btn-danger', 'passenger')" />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        }
    </ul>
</div>

<hr />

<div class="modal fade" id="confirmReservationsAction" tabindex="-1" role="dialog" aria-labelledby="confirmReservationModalLabel" aria-hidden="true">
    <form action="/Reservations/ChangeReservationStatus/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="confirmReservationModalLabel">TITLE</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="reservationId" name="reservationId" class="hidden" />
                        <input type="text" id="status" name="status" class="hidden" />
                        <input type="text" id="cancelledFrom" name="cancelledFrom" class="hidden" />
                        <p id="confirmText">CONFIRMATION TITLE?</p>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Salir" />
                            <input type="submit" id="modalButton" class="btn btn-danger" value="Eliminar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="reservationChatModal" tabindex="-1" role="dialog" aria-labelledby="reservationChatModalLabel" aria-hidden="true">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="chatContainer">
            @Html.Partial("~/Views/ChattingMessages/_Index.cshtml", new CarpoolingCR.Objects.Responses.ChatMessageResponse { Messages = new List<CarpoolingCR.Models.ChattingMessage>() })
        </div>
    </div>
</div>

<script language="javascript">
    var options = {
        valueNames: ['fromto', 'date', 'price', 'driver', 'spaces', 'status']
    };

    var userList = new List('yourreservations', options);

    function ConfirmAction(reservationId, status, detail, title, btnVal, btnClass, cancelledFrom) {
        $('#confirmReservationModalLabel').html(title);
        $('#confirmText').html('¿Está seguro que deseas ' + detail + ' ?');
        $('#reservationId').val(reservationId);
        $('#status').val(status);

        $('#modalButton').removeClass('btn-danger');
        $('#modalButton').removeClass('btn-info');

        $('#modalButton').html(btnVal);
        $('#modalButton').addClass(btnClass);
        $('#cancelledFrom').val(cancelledFrom);

        $("#confirmReservationsAction").modal();
    }

    function OpenChat(reservationId, fromName, toName) {
        $.get('/ChattingMessages/Index', { reservationId: reservationId },
            function (data) {
                $('#chatContainer').html(data);
            });

        $("#reservationChatModal").modal();
        $('#chatMessageContainer').scrollTop($('#chatMessageContainer')[0].scrollHeight);
    }

    $.connection.hub.start();
    $.connection.hub.qs = "myInfo=12345";
    var chat = $.connection.SignalHandlerHub;

    function SendMessage(reservationId, from) {
        var message = $('#messageChatText').val();

        $.post('/ChattingMessages/Create', { reservationId: reservationId, userId: from, message: message },
            function (data) {
                $('#chatContainer').html(data);

                $('#chatMessageContainer').scrollTop($('#chatMessageContainer')[0].scrollHeight);
            });

    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
