@model CarpoolingCR.Objects.Responses.ReservationTransportationResponse

<div id="yourreservations">
    <h5>Tus reservaciones como pasajero</h5>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
            <input class="search form-control" style="border-radius:25px" placeholder="Búsqueda" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-1 col-xs-1">
        </div>
    </div>
    <br />
    <ul class="list">
        @{
            if (Model.PassengerReservations.Count == 0)
            {
                <div class="row form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <small style="align-content:center">No se encontraror reservaciones</small>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                </div>
            }
            else
            {
                foreach (var item in Model.PassengerReservations)
                {
                    var from = item.Trip.FromTown;
                    var to = item.Trip.ToTown;

                    <li>
                        <label class="control-label fromto">@from -> @to</label>
                        <small class="date">@item.Trip.DateTime.ToString("dd/MM/yyyy hh:mm tt")</small>
                        <small class="price"><b>Cuota:</b> @item.Trip.Price</small>

                        <div class="row form-group">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <small class="driver"><b>- Conductor: </b> @item.Trip.ApplicationUser.Name  @item.Trip.ApplicationUser.LastName @item.Trip.ApplicationUser.SecondLastName<br /></small>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <small class="spaces"><b>&nbsp;&nbsp;Espacios Solicitados: </b> @item.RequestedSpaces<br /></small>

                                    @{
                                        if (item.Status != CarpoolingCR.Utils.Enums.ReservationStatus.Cancelled)
                                        {
                                            <input type="button" class="btn btn-danger" value="Cancelar" style="border-radius:25px" onclick="ConfirmAction(@item.ReservationId, '@CarpoolingCR.Utils.Enums.ReservationStatus.Cancelled','cancelar esta reservación','Cancelar Reservación', 'Cancelar', 'btn-danger', 'passenger')" />
                                        }
                                    }
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <small><b>&nbsp;&nbsp;Total a Pagar: </b> @Convert.ToDecimal(item.RequestedSpaces * @item.Trip.Price)<br /></small>
                                    <small class="status"><b>&nbsp;&nbsp;Estado: </b>@item.Status</small>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        }
    </ul>
</div>

<hr />

<div class="modal fade" id="confirmReservationsAction" tabindex="-1" role="dialog" aria-labelledby="confirmReservationModalLabel" aria-hidden="true">
    <form action="/Reservations/ChangeReservationStatus/0" method="post">
        @Html.AntiForgeryToken()
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="confirmReservationModalLabel">TITLE</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="reservationId" name="reservationId" class="hidden" />
                        <input type="text" id="status" name="status" class="hidden" />
                        <input type="text" id="cancelledFrom" name="cancelledFrom" class="hidden" />
                        <p id="confirmText">CONFIRMATION TITLE?</p>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Salir"/>
                            <input type="submit" id="modalButton" class="btn btn-danger" value="Eliminar"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script language="javascript">
    var options = {
        valueNames: ['fromto', 'date', 'price', 'driver', 'spaces', 'status']
    };

    var userList = new List('yourreservations', options);

    function ConfirmAction(reservationId, status, detail, title, btnVal, btnClass, cancelledFrom) {
        $('#confirmReservationModalLabel').html(title);
        $('#confirmText').html('¿Está seguro que deseas ' + detail + ' ?');
        $('#reservationId').val(reservationId);
        $('#status').val(status);

        $('#modalButton').removeClass('btn-danger');
        $('#modalButton').removeClass('btn-success');

        $('#modalButton').html(btnVal);
        $('#modalButton').addClass(btnClass);
        $('#cancelledFrom').val(cancelledFrom);

        $("#confirmReservationsAction").modal();
    }
</script>
