@model CarpoolingCR.Objects.Responses.ReservationTransportationResponse

<div id="RequestJourneyContainer">
    <hr />

    <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="hidden" id="message" value="@Model.Message" />
            <input type="hidden" id="messageType" value="@Model.MessageType" />

            <label id="lblFromTo" class="hidden"></label>
            <label id="TripsCount" class="hidden">@Model.Trips.Count</label>
            <p id="tooltip">
                @*<a href="~/RideRequests/Index" class="btn btn-info pull-right" title="¿No has encontrado un viaje que te sirva? Crea una solicitud de viaje y te avisaremos cuando haya alguno disponible">Notificaciones</a>*@
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
            <div id="calendar"></div>
            <img id="requestJourneyProcessing" src="~/Content/Icons/processing.gif" style="width:50px;height:50px;" />
        </div>
    </div>

    <script>
            var iconRenderedDates = [];
            //$('#tooltip').tooltip();

        $(document).ready(function () {
            $('#calendar').fullCalendar({
                buttonText: {
                    today: 'Hoy',
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Dia',
                    list: 'Lista'
                },
                weekends: true,
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abríl', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                eventClick: function (calEvent, jsEvent, view) {
                    if (moment().diff(calEvent.date, 'days') <= 0) {
                        RedirectToDayTrips(calEvent.start);
                    }
                },
                eventLimit: true,
                eventTextColor: '#378006',
                views: {
                    agenda: {
                        eventLimit: 6
                    }
                },
                eventRender: function (event, element, view) {
                    return $('<p onclick="RedirectToDayTrips(' + event.start + ')">&nbsp;&nbsp;' + event.count + ' <i class="fas fa-car"></i></p>');
                },
                //events: [

                //],
                contentHeight: "auto",
                selectable: true,
                navLinks: false,
                dayClick: function (date, jsEvent, view) {
                    if (moment().diff(date, 'days') <= 0) {
                        RedirectToDayTrips(date);
                    }
                },
                dayRender: function (date, cell) {
                    if (moment().diff(date, 'days') > 0) {
                        //disabled
                        cell.css("background-color", "#8DABCB");
                        $(cell).addClass('disabled');
                    } else {
                        //enabled
                        cell.css("background-color", "#638CB8");
                    }
                },
                header: {
                    left: 'title',
                    center: '',
                    right: 'prev,today,next'
                }
            });

            $('#calendar').removeClass('hidden');
            $('#requestJourneyProcessing').addClass('hidden');

            ReloadTrips();
        });

        function ReloadTrips() {
            var arrayOfTrips = JSON.parse('@Html.Raw(Json.Encode(Model.Trips))');
            var events = [];

            if (arrayOfTrips.length == 1) {
                DisplayGrowlMessage(arrayOfTrips.length + " viaje disponible!", "success")
            } else if (arrayOfTrips.length > 1) {
                DisplayGrowlMessage(arrayOfTrips.length + " viajes disponibles!", "success")
            }

            for (var i = 0; i < arrayOfTrips.length; i++) {
                var tripId = arrayOfTrips[i].TripId;
                var availableSpaces = arrayOfTrips[i].AvailableSpaces;
                var unixTime = arrayOfTrips[i].DateTime.match(/\d+/)[0] * 1;
                var from = arrayOfTrips[i].FromTown.County.Name + ', ' + arrayOfTrips[i].FromTown.Name;
                var to = arrayOfTrips[i].ToTown.County.Name + ', ' + arrayOfTrips[i].ToTown.Name;

                document.getElementById('lblFromTo').innerHTML = from + ' - ' + to;

                var actualDate = new Date(unixTime);
                var month = parseInt(actualDate.getMonth() + 1);
                var day = parseInt(actualDate.getDate());
                var dayStr = '';

                if (month < 10) {
                    monthStr = '0' + month;
                } else {
                    monthStr = ''+month;
                }

                if (day < 10) {
                    dayStr = '0' + day;
                } else {
                    dayStr = '' + day;
                }

                var key = actualDate.getFullYear() + '-' + monthStr + '-' + dayStr;
                var obj = GetKeyValueObj(key, events);

                if (obj == null) {
                    obj = { key: key, count: 1, id: tripId, title: ''};

                    events.push(obj);
                } else {
                    obj.count = parseInt(obj.count + 1);
                }
            }

            for (var index in events) {
                var obj = events[index];

                 var event = {
                    id: obj.tripId,
                    title: availableSpaces + ' espacios',
                     start: obj.key,
                     end: obj.key,
                     //color: '#378006',
                     count: obj.count,
                };

                $('#calendar').fullCalendar('renderEvent', event, true);
            }

            var message = $('#message').val();
            var messageType = $('#messageType').val();

            if (message != '') {
                displayMessages(message, messageType);
            }
        }

        function GetKeyValueObj(key, events) {
            for (var index in events) {
                var currentObj = events[index];

                if (currentObj.key == key) {
                    return currentObj;
                }
            }

            return null;
        }

        function RedirectToDayTrips(date) {
            var fromto = document.getElementById('lblFromTo').innerHTML.split(' - ');
            var dateObj = new Date(date);

            var month = String(dateObj.getMonth() + 1);
            var day = String(dateObj.getDate() + 1);
            var year = String(dateObj.getFullYear());

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            var dateStr = year + '-' + month + '-' + day;

            if (fromto != '') {
                //var url = '@Url.Action("DayTrips", "Trips")' + '?date=' + dateObj.getFullYear() + '-' + dateObj.getMonth() + '-' + dateObj.getDay() + '&from=' + fromto[0] + '&to=' + fromto[1];
                var url = '@Url.Action("DayTrips", "Trips")' + '?date=' + dateStr + '&from=' + fromto[0] + '&to=' + fromto[1];

                console.log('Redirecting to DayTrips. Url: ' + url);

                window.location.href = url;
            }
        }

    </script>
</div>